<html>
    <head>
        <title>Gallery - Kategorie l&ouml;schen</title>
        <link href="include/admin/templates/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="include/admin/templates/bootstrap/css/style.css" rel="stylesheet">
    </head>
    <body>
        {EXPLODE}
        <div class="well well-lg">
            <form action="admin.php?gallery-D{id}" method="post" class="form-horizontal" role="form">
                <a href="admin.php?gallery-D{id}-delall">Kategorie mit allen Bildern l&ouml;schen</a><br>
                <a href="admin.php?gallery-D{id}-delkat">Kategorie l&ouml;schen, aber Bilder auf dem FTP-Server lassen</a><br>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Kategorie l&ouml;schen und Bilder nach:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="cat">{cats}</select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input type="submit" value="verschieben" name="move" class="btn btn-primary">
                    </div>
                </div>
            </form>
            {EXPLODE}
            <script type="text/javascript">
                opener.location.href = opener.location.href;
                window.setTimeout("window.close();", 5000);
            </script>
            {EXPLODE}
            <br><a class="btn btn-primary" href="javascript:window.close();">Fenster schlie&szlig;en</a><br >
        </div>
    </body>
</html>