<form action="?contact" method="POST">
    <label><strong>Empf&auml;nger ausw&auml;hlen:</strong></label><br><br>
    {EXPLODE}
    <input id="w{KEY}" {c} type="radio" name="wer" value="{KEY}" style="float: left;"><label for="w{KEY}">&nbsp;&nbsp; {VAL}</label><br style="clear: both;">
    {EXPLODE}<br>
    <label class="ilch_float_l label_100">Ihr Name:</label><input type="text" name="name" value="{name}"><br> 
    <label class="ilch_float_l label_100">Ihr E-Mail:</label><input type="text" name="mail" value="{mail}"><br> 
    <label class="ilch_float_l label_100">Betreff:</label><input type="text" name="subject" value="{subject}"><br> 
    <label class="ilch_float_l label_100">Nachricht:</label><textarea name="txt" style="width: 98%; overflow:auto;" rows="8"></textarea><br><br>
    <div class="text-center">{ANTISPAM}<br></div>
    <div class="text-center"><input name="submit" type="submit" value=" Absenden "></div>	
</form>