<script type="text/javascript">
<!--
    function doVote(n1, did) {
    document.location.href = "index.php?downloads-show-" + did + "-z" + n1;
    }
//-->
</script>
<table class="border">
    <tr class="Chead">
        <th colspan="4" class="text-center"><b>{name} {version}</b></th>
    </tr>
    <tr>
        <td class="Cmite">{_lang_name} (Version)</td>
        <td class="Cnorm">{name} {version_kl}</td>
        <td class="Cmite ilch_vertikal_top" colspan="2">{_lang_voting} {vote_wertung}
    </tr>
    <tr>
        <td class="Cmite">{_lang_author}</td>
        <td class="Cnorm">{creater}</td>
        <td class="Cnorm text-center" rowspan="2" colspan="2">
            <table class="border">
                <tr>
                    <td class="Cdark ilchcursorpoint" onClick="doVote(1, {id})">&nbsp;1&nbsp;</td>
                    <td class="Cmite ilchcursorpoint" onClick="doVote(2, {id})">&nbsp;2&nbsp;</td>
                    <td class="Cdark ilchcursorpoint" onClick="doVote(3, {id})">&nbsp;3&nbsp;</td>
                    <td class="Cmite ilchcursorpoint" onClick="doVote(4, {id})">&nbsp;4&nbsp;</td>
                    <td class="Cdark ilchcursorpoint" onClick="doVote(5, {id})">&nbsp;5&nbsp;</td>
                    <td class="Cmite ilchcursorpoint" onClick="doVote(6, {id})">&nbsp;6&nbsp;</td>
                    <td class="Cdark ilchcursorpoint" onClick="doVote(7, {id})">&nbsp;7&nbsp;</td>
                    <td class="Cmite ilchcursorpoint" onClick="doVote(8, {id})">&nbsp;8&nbsp;</td>
                    <td class="Cdark ilchcursorpoint" onClick="doVote(9, {id})">&nbsp;9&nbsp;</td>
                    <td class="Cmite ilchcursorpoint" onClick="doVote(10, {id})">&nbsp;10&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="Cmite">{_lang_date}</td>
        <td class="Cnorm">{datum}</td>
    </tr>
    <tr>
        <td class="Cmite">{_lang_size}</td>
        <td class="Cnorm">{size}</td>
        <td class="Cmite">{_lang_voter}</td>
        <td class="Cnorm text-center">{vote_klicks}</td>
    </tr>
    <tr>
        <td class="Cmite">{_lang_downloads}</td>
        <td class="Cnorm">{downs}</td>
        <td class="Cmite">{_lang_seenfrom}</td>
        <td class="Cnorm text-center">{hits}</td>
    </tr>
</table>
<div class="ilch_box_in text-center"><strong><a href="index.php?downloads-down-{id}">{_lang_download}</a>{surl}</strong></div>
<div class="border">
    <div class="ilch_case">
        <div class="Cdark"><strong>{_lang_desc}</strong></div>
        <div class="ilch_download_in Cnorm">{ssurl}{descl}</div>
    </div>
</div>