<form action="index.php?fightus" method="POST">
    <fieldset>
        <legend><strong>{_lang_basicinfo}</strong></legend>
        <div class="text-center"><span class="ilch_hinweis_gelb">{_lang_plsfilloutallfields}</span></div>
        <label class="ilch_float_l label_100">{_lang_clanname}</label><input type="text" name="clanname" value="{clanname}"><br>
        <label class="ilch_float_l label_100">{_lang_clantag}</label><input type="text" name="clantag" value="{clantag}"><br>
        <label class="ilch_float_l label_100">{_lang_clanpage}</label><input type="text" name="clanpage" value="{clanpage}"><br>
        <label class="ilch_float_l label_100">{_lang_clancountry}</label><select name="clancountry">{clancountry}</select><br>
        <label class="ilch_float_l label_100">{_lang_mailaddy}</label><input type="text" name="mailaddy" value="{mailaddy}"><br>
        <label class="ilch_float_l label_100">{_lang_skype}</label><input type="text" name="skype" value="{skype}"><br>  
        <br> 
        <strong>{_lang_matchinfo}</strong>  
        <br><br>  
        <label class="ilch_float_l label_100">{_lang_meetingplace}</label><input type="text" name="meetingplace" value="{meetingplace}"><br>
        <label class="ilch_float_l label_100">{_lang_meetingtime}</label><input type="text" name="meetingtime" value="{meetingtime}"><br>
        <label class="ilch_float_l label_100">{_lang_squad}</label><select name="squad">{squad}</select><br>
        <label class="ilch_float_l label_100">{_lang_xonx}</label><input type="text" name="xonx" value="{xonx}"><br>
        <label class="ilch_float_l label_100">{_lang_game}</label><input type="text" name="game" value="{game}"><br>
        <label class="ilch_float_l label_100">{_lang_matchtype}</label><input type="text" name="matchtype" value="{matchtype}"><br>
        <br>  
        <strong>{_lang_otherinfo}</strong>
        <br><br>
        <label class="ilch_float_l label_100">{_lang_message}</label><textarea cols="35" rows="5" name="message">{message}</textarea><br><br>
        {ANTISPAM}<br>
        <label class="ilch_float_l label_100"></label><input type="submit" value="{_lang_send2}">
    </fieldset>
</form>