{EXPLODE}
<table class="border">
    <tr class="Chead">
        <td class="text-center"><strong>{_lang_category}</strong></td>
        <td class="text-center">{_lang_pictures}</td>
    </tr>
    {EXPLODE}
    <tr class="{class}">
        <td><a href="index.php?gallery-{id}">{name}</a><br><span class="smalfont">&raquo;&nbsp;{besch}</span></td>
        <td class="text-center">{gallery}</td>
    </tr>
    {EXPLODE}
</table>
<br><br>
{EXPLODE}
<table class="border">
    <tr class="Chead">
        <td colspan="{imgperline}" class="text-center"><strong>{cname}</strong></td>
    </tr>
    {EXPLODE}
    <td class="{class}" width="{width}%" class="text-center ilch_vertikal_top">

        <div onmouseover="hiddpos('infodiv{id}')" class="layer" id="infodiv{id}">
            <div class="border">
                <div class="ilch_case">
                    <div class="Cdark text-center"><strong>{datei_name}</strong></div>
                    <div class="ilch_gallery_in {class} text-left">
                        <strong>{_lang_seen}:</strong> {klicks}
                        <br><strong>{_lang_voting}:</strong> {vote_wertung}
                        <br><strong>{_lang_comments}:</strong> {anz_koms}
                        <br><strong>{_lang_desc}:</strong> {besch}
                    </div>
                </div>
            </div>
        </div>
        <table class="border">
            <tr>
                <td class="text-center" onmouseout="hiddpos('infodiv{id}')" onmouseover="alertpos('infodiv{id}')"><a href="index.php?gallery-show-{cat}-p{bildr}" onClick="return oeffneFenster({bildr}, {cat});" target="_blank"><img src="include/images/gallery/img_thumb_{id}.{endung}" border="0" alt="{datei_name}"  /></a></td>
            </tr>
        </table>
    </td>
    {EXPLODE}
</tr>
</table>
<div class="text-center">{MPL}</div>
<script language="JavaScript" type="text/javascript">
<!--
            function oeffneFenster (bildr, cat) {
            var fenster = window.open ('index.php?gallery-show-' + cat + '-p' + bildr, 'showBild', 'scrollbars=yes,height=600,width={breite},left=200,status=yes,resizable=yes');
                    fenster.focus();
                    return (false);
            }

    // manage div ...
    document.onmousemove = checkPosition;
            function checkPosition(e) {
            if (document.all) {
            mausX = event.clientX + document.body.scrollLeft;
                    mausY = event.clientY + document.body.scrollTop;
            } else {
            mausX = e.pageX;
                    mausY = e.pageY;
            }

            }

    function alertpos(dname) {
    if (document.layers) {
    document.layers[0].left = mausX;
            document.layers[0].top = mausY;
    } else if (document.getElementById) {
    document.getElementById(dname).style.left = mausX + "px";
            document.getElementById(dname).style.top = mausY + "px";
    }
    document.getElementById(dname).style.display = "inline";
    }
    function hiddpos(dname) {
    document.getElementById(dname).style.display = "none";
    }
//-->
</script>