<table>
    <tr>
        <td class="tdweight100 ilch_vertikal_top">
            <table class="border">
                <tr class="Chead">
                    <td colspan="3" class="text-center"><strong>{TITLE}</strong></td>
                </tr>
                {EXPLODE}
                <tr class="{LIST_CLASS}">
                    <td class="text-center ilch_vertikal_top" nowrap>{LIST_I}</td>
                    <td class="text-center ilch_vertikal_top" nowrap>{LIST_D}</td>
                    <td class="tdweight100">{LIST_T}</td>
                </tr>
                {EXPLODE}
                <tr class="Cmite">
                    <td colspan="3"><span class="ilch_small_font">{DEATIL_DATE} - {DEATIL_TIME} Uhr</span></td>
                </tr>
                <tr class="Cnorm">
                    <td colspan="3">{DEATIL_TEXT}</td>
                </tr>
                <tr class="Cnorm">
                    <td colspan="3" class="text-center"><a class="ilch_back_button" href="javascript:history.back()">{_lang_back}</a></td>
                </tr>
                {EXPLODE}
            </table>
        </td>
        <td nowrap>&nbsp;</td>
        <td class="ilch_kalender ilch_vertikal_top" nowrap>
            {calender}
            <div class="text-center"><a href="index.php?kalender-v1">{_lang_listview}</a> | <a href="index.php?kalender-v0">{_lang_monthsview}</a></div>
        </td>
    </tr>
</table>