<table class="border">
  <tr class="Chead">
    <td colspan="2"><strong>Clankasse</strong></td>
  </tr>
  <tr>
    <td colspan="2" class="Cdark">
      {_lang_balance} {_lang_whole}: {saldo}, Plus: {plus}, Minus: {minus}<br />
      {_lang_balance} {jahr}: {Jsaldo}, Plus: {Jplus}, Minus: {Jminus}<br />
      {_lang_balance} {month}: {Msaldo}, Plus: {Mplus}, Minus: {Mminus}
      </td>
      
  </tr><tr class="Chead">
    <td width="50%"><strong><a href="index.php?kasse-m{pm}-y{py}">&laquo;</a>&nbsp;<a href="index.php?kasse-m{nm}-y{ny}">&raquo;</a>&nbsp;&nbsp;Buchungen {month}</strong></td>
    <td width="50%"><strong>Kontodaten</strong></td>
  </tr><tr>
    <td class="Cnorm" class="ilch_vertikal_top">
    <table class="border">
    {EXPLODE}<tr class="{class}">
      <td><span class="ilch_float_l">{betrag}</span>
      <span class="ilch_float_r">{name}</span><br>{verwendung}</td>
    </tr>{EXPLODE}
    </table>
    </td>
    <td class="Cmite" class="ilch_vertikal_top">{kontodaten}</td>
  </tr>
</table>