{EXPLODE}
<table class="border">
  <tr class="Chead">
		<td class="text-center"><b>{_lang_category}</b></td>
    <td class="text-center">{_lang_links}</td>
	</tr>
	{EXPLODE}
	<tr class="{class}">
	  <td><a href="index.php?links-{id}">{name}</a><br><span class="smalfont">&raquo;&nbsp;{desc}</span></td>
		<td class="text-center">{links}</td>
	</tr>
	{EXPLODE}
</table>
<br><br>
{EXPLODE}
<div class="border">
<div class="ilch_case">
<div class="Chead text-center"><span class="ilch_small_font">{_lang_links}</span><strong>{catname}</strong></div>
  {EXPLODE}
<div class="ilch_case_in {class} ilch_links_img">
<a target="_blank" href="index.php?links-s{id}">{name}</a>{desc}
<span class="ilch_float_r smalfont"><br>{_lang_hits}: {hits}</span>
</div>
   {EXPLODE}
</div></div>
