<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="de">
    <head>
        <title>{TITLE}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <meta name="Copyright" content="Script Copyright by ilch.de">
        <meta name="Page-topic" content="ilchClan - Clanscript">
        <meta name="Audience" content="Alle">
        <meta name="Robots" content="INDEX,FOLLOW">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="Pragma" content="no-cache">
        <meta name="Robots" content="archive">
        <link rel="stylesheet" type="text/css" href="include/designs/{DESIGN}/style.css">
        <link rel="stylesheet" type="text/css" href="include/includes/css/ilch_default.css">  
    </head>
    <body> 
    <br>
    <br>
    <div class="border small_index_ilch">
        <div class="ilch_case Cmite">
            {EXPLODE}
        </div>
    </div>
</body>
</html>