<div class="border">
    <div class="ilch_case">
        <div class="Cdark text-center ilch_teams_img">{show}</div>
    </div>
</div>
{EXPLODE}
<table class="border">
    {EXPLODE}
    <tr class="{class}">
        <td class="ilch_teams_avatar text-center"><a href="index.php?user-details-{uid}">{avatar}</a></td>
        <td><a href="index.php?user-details-{uid}">{name}</a></td>
        <td class="text-center">{skype}</td>
        <td class="text-center">{posi}</td>
        <td class="text-center">{staat}</td>
        <td class="text-center">{status}</td>
    </tr>
    {EXPLODE}
    <tr class="{class}">
        <td>{name}</td>
        <td class="text-center">{skype}</td>
        <td>{posi}</td>
        <td class="text-center">{staat}</td>
        <td>{status}</td>
        <td class="text-center"><a href="index.php?user-details-{uid}">{_lang_more}</a></a></td>
    </tr>
    {EXPLODE}
</table>