<div class="border">
<div class="ilch_case ilch_trains">
<div class="Cmite"><strong>{_lang_Monday}</strong></div>
<div class="Cnorm">{MON}</div>
<div class="Cmite"><strong>{_lang_Tuesday}</strong></div>
<div class="Cnorm">{DIE}</div>
<div class="Cmite"><strong>{_lang_Wednesday}</strong></div>
<div class="Cnorm">{MIT}</div>
<div class="Cmite"><strong>{_lang_Thursday}</strong></div>
<div class="Cnorm">{DON}</div>
<div class="Cmite"><strong>{_lang_Friday}</strong></div>
<div class="Cnorm">{FRE}</div>
<div class="Cmite"><strong>{_lang_Saturday}</strong></div>
<div class="Cnorm">{SAM}</div>
<div class="Cmite"><strong>{_lang_Sunday}</strong></div>
<div class="Cnorm">{SON}</div>
</div>
</div>