<table class="border">
    <tr class="Chead">
        <td class="text-center" colspan="4"><strong>{TITLE}</strong></td>
    </tr>
    <tr class="Cmite">
        <td class="text-center">{_lang_whole}</td>
        <td class="text-center">{_lang_win}</td>
        <td class="text-center">{_lang_los}</td>
        <td class="text-center">{_lang_pat}</td>
    </tr>
    <tr class="Cnorm">
        <td class="text-center"><strong>{GES}</strong></td>
        <td class="text-center ilch_wars_win"><strong>{WIN}</strong></td>
        <td class="text-center ilch_wars_los"><strong>{LOS}</strong></td>
        <td class="text-center ilch_wars_pat"><strong>{PAT}</strong></td>
    </tr>
</table>
<br><br>
<table class="border">
    <tr class="Chead">
        <td colspan="4"><strong>{_lang_nextwars}</strong></td>
    </tr>
    <tr class="Cdark">
        <td class="text-center"><strong>{_lang_date}</strong></td>
        <td class="text-center"><strong>{_lang_opponent}</strong></td>
        <td class="text-center"><strong>{_lang_squad}</strong></td>
        <td class="text-center"><strong>{_lang_more}</strong></td>
    </tr>
    {EXPLODE}
    <tr class="{class}">
        <td class="text-center">{time}</td>
        <td class="text-center"><a href="{page}" target="_blank">{gegner}</a></td>
        <td class="text-center">{team}</td>
        <td class="text-center"><a href="index.php?wars-more-{id}">{_lang_more}</a></td>
    </tr>
    {EXPLODE}
</table>
<br>
<br>
{EXPLODE}
<script type="text/javascript">
    function loadLWPage(page) {
        var f = document.forms['lwf'];
        f.elements['page'].value = page;
        f.submit();
        return false;
    }
</script>
<form action="?wars-last" method="post" name="lwf">
    <table class="border">
            <input type="hidden" name="page" value="0">
    <input type="hidden" name="che" value="1">
        <tr class="Chead">
            <td colspan="3"><strong>{_lang_lastwars}</strong></td>
        </tr>
        <tr class="Cnorm">
            <td>Team:</td>
            <td colspan="2"><select name="tid"><option value="">-- ( {_lang_alle} ) --</option> {tid}</select></td>
        </tr>
        <tr class="Cmite">
            <td>{_lang_result}:</td>
            <td colspan="2"><select name="wlp"><option value="">-- ( {_lang_alle} ) --</option>{wlp}</select>
            </td>
        </tr>
        <tr class="Cnorm">
            <td>Game:</td>
            <td colspan="2"><select name="spiel"><option value="">-- ( {_lang_alle} ) --</option> {game}</select></td>
        </tr>
        <tr class="Cmite">
            <td>Typ:</td>
            <td colspan="2"><select name="typ"><option value="">-- ( {_lang_alle} ) --</option> {typ}</td>
        </tr>
        <tr class="Cnorm">
            <td></td><td colspan="2"><input type="Submit" name="Go" value="Go"></td>
        </tr>
    </table>
</form>
<br><br>
{EXPLODE}
<table class="border">
    <tr class="Chead">
        <td colspan="7"><strong>{_lang_lastwars}</strong></td>
    </tr>
    <tr class="Cdark">
        <td class="text-center"><strong>{_lang_date}</strong></td>
        <td class="text-center"><strong>{_lang_opponent}</strong></td>
        <td class="text-center"><strong>{_lang_squad}</strong></td>
        <td class="text-center"><strong>{_lang_matchtype}</strong></td>
        <td class="text-center"><strong>{_lang_result}</strong></td>
        <td class="tdweight5 text-center"><strong>{_lang_more}</strong></td>
    </tr>
    {EXPLODE}
    <tr class="{class}">
        <td class="text-center">{time}</td>
        <td class="text-center"><img src="include/images/flags/{land}" alt=""><br><a href="{page}" target="_blank">{gegner}</a></td>
        <td class="text-center">{team}</td>
        <td class="text-center">{mtyp}</td>
        <td style="border:1px solid #{farbe2}; margin:0px; background-color: #{farbe}; color:#000;text-align:center;vertical-align:middle;">{erg}</td>
        <td class="text-center"><a href="index.php?wars-more-{id}">{_lang_more}</a></td>
    </tr>
    {EXPLODE}
</table>
<div class="tdweight100 text-center tablebordertop">{MPL}</div>