
<link href="include/includes/css/wartung.css" rel="stylesheet">

<script>
    $(function () {
        $(".meter > span").each(function () {
            $(this)
                    .data("origWidth", $(this).width())
                    .width(0)
                    .animate({
                        width: $(this).data("origWidth")
                    }, 1200);
        });
    });
</script>

<div class="wartung_container">
    <div class="wartung-form_container">
        <img class="wartung-logo" src="include/images/etc/ilch_logo.png">
        <div style="margin: 0 auto; max-width: 600px;">

            <div style="text-align: center; font-size: 18px; font-weight: bold;">Die Seite befindet sich aktuell Wartungsmodus</div>
            <div style=" margin-top: 10px; text-align: center; font-size: 14px;">{grund}</div>
            <div class="meter red">
                <span style="width: 80%"></span>
            </div>

        </div>
    </div>
</div>
