<br><br><table width="60%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="49%"><div align="center">
                <p><img src="include/images/websiteoffline.gif" alt="" height="300" width="205" border="0"></p>
                <p><a href="admin.php?admin"><u><font size="1">Admin Zugang</font></u></a></p>
            </div></td>

        <td width="41%"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td><div align="right"><h3><b><font color="#CC0000">Wartungsmodus</font></b></h3></div></td>
                </tr>
                <tr>
                    <td height="80" valign="top"><font size="1">Grund für den Wartungsmodus</font><br> {grund} </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td><br><h4><b>Wir bitten um Verständnis ihr </b><br>
                            {title} Team</h4><br><font size="1">Kontakt</font><br>
                        <a href='.$eMail.'>{email}</a></td>
                </tr>
            </table></td>
    </tr>
</table>