<html>
    <head>
        <link href="include/admin/templates/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="include/admin/templates/bootstrap/css/style.css" rel="stylesheet">
        <script language="JavaScript" type="text/javascript">
            <!--
        function closeThisWindow() {
                opener.location.reload();
                opener.focus();
                window.close();
            }
            //-->
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <form action="admin.php?user-gruppen-{userid}" method="POST" role="form">

                    <input type="hidden" name="usergroups" value="sub">
                    <div class="bs-example">
                        <div class="alert alert-success fade in" role="alert">
                            <h4>Gruppen f&uuml;r {username}</h4>
                            {EXPLODE}
                            <p>
                            <div class="checkbox">
                                <label for="{id}ID">{name}
                                    <input id="{id}ID" type="checkbox" name="grprhave[{id}][{userid}]" {ck} value="t">

                                </label>
                            </div>
                            </p>
                            {EXPLODE}    
                            <p>
                                <input type="submit" name="chuserr" class="btn btn-info" value="Speichern">
                                <input type="button" class="btn btn-default" value="Schlie&szlig;en" onClick="closeThisWindow()">
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>