# files of ilch
/include/includes/config.php
/include/images/filemanager/*
/include/images/avatars/*
/include/images/smiles/*
/include/backup/*.sql

# tools
/nbproject
run.bat
.sonar
/.sonar
.vagrant
Vagrantfile