<a class="btn btn-warning" href="admin.php?checkconf-phpinfo">PHPinfo ()</a><br><br>
<div class="row">
{EXPLODE}
<div class="col-md-4">
<div class="panel panel-default">
  <div class="panel-body">
<legend>{head}</legend>
{EXPLODE}
</div>
</div></div>
{EXPLODE}
<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
<table width="100%"><tr>
    <td>{opt}</td>
<td class="text-right"><strong>{val}</strong></td>
</tr></table>
  </li>
</ul>
{EXPLODE}
</div>
<div style="clear:both;"></div>
