<legend><h2><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Navigation</h2></legend>
<div class="row">
    <div class="col-md-6">
        <a style="margin-bottom:5px;" class="btn btn-success btn-sm" href="admin.php?menu-1">Men&uuml;&nbsp;1</a>
        <a style="margin-bottom:5px;" class="btn btn-success btn-sm" href="admin.php?menu-2">Men&uuml;&nbsp;2</a>
        <a style="margin-bottom:5px;" class="btn btn-success btn-sm" href="admin.php?menu-3">Men&uuml;&nbsp;3</a>
        <a style="margin-bottom:5px;" class="btn btn-success btn-sm" href="admin.php?menu-4">Men&uuml;&nbsp;4</a>
        <a style="margin-bottom:5px;" class="btn btn-success btn-sm" href="admin.php?menu-5">Men&uuml;&nbsp;5</a>
        <br><br>
        {EXPLODE}
    </div>
    <div class="col-md-6">
        <form action="admin.php?menu--an" method="POST" name="form" class="form-horizontal" role="form">
            <input type="hidden" name="awo"  value="{awo}"  />
            <input type="hidden" name="apos" value="{apos}" />
            <span style="float:right;"><a class="btn btn-warning btn-sm" href="admin.php?menu-reparieren">Men&uuml;s reparieren</a></span><br>
            <legend>Box, Men&uuml; oder Men&uuml;punkt</legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" value="{bname}" name="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Typ</label>
                <div class="col-sm-6">
                    <select style="margin-bottom:4px;" class="form-control" name="was" onchange="bmsicht()">{_list_cwwas@<option%1 value="%2">%3</option>}</select>
                    <select class="form-control" name="link">{_list_allboxes@<option%1 value="%2">%3</option>}</select>
                    <select class="form-control" name="link1" style="display: none"><option value="null">w&auml;hlen</option>{_list_alllinkss@<option%1 value="%2">%3</option>}</select>
                    <input  class="form-control" name="link2" style="display: none" value="{link2}">
                    <select class="form-control" name="menutyp" style="display: none">{_list_menutyp@<option%1 value="%2">%3</option>}</select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Ebene</label>
                <div class="col-sm-6">
                    <select class="form-control" name="cwebene">{_list_cwebene@<option%1 value="%2">%3</option>}</select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Men&uuml;</label>
                <div class="col-sm-6">
                    <select class="form-control" name="cwmenu">{_list_cwmenu@<option%1 value="%2">%3</option>}</select>
                </div>
            </div>				
            <div class="form-group">
                <label class="col-sm-2 control-label">Position</label>
                <div class="col-sm-4">
                    <input class="form-control" name="posi" value="{posi}" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Sichtbar ab</label>
                <div class="col-sm-6">
                    <select class="form-control" name="grecht">{_list_getfuerB@<option%1 value="%2">%3</option>}</select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <input class="btn btn-primary" type="submit" value="Absenden">
                </div>
            </div>
        </form>     
        <div class="alert alert-info" role="alert">
            <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>  Hilfe</h4>
            <p><strong>Typ erkl&auml;rt:</strong><p>
            <p></p><ul>
                <li>Box, dort k&ouml;nnen Inhalte wie eine Umfrage etc. angezeigt werden.</li>
                <li>Men&uuml;, in ein Men&uuml; kann man Men&uuml;punkte anlegen.</li>
                <li>Men&uuml;punkt wahl, hier kann eine Datei als Men&uuml;punkt gew&auml;hlt werden.</li>
                <li>Men&uuml;punkt extern, es kann eine Link angegeben werden der in einem neuen Fenster ge&ouml;ffnet wird.</li>
                <li>Men&uuml;punkt intern, es kann eine Link angegeben werden der in selben Fenster ge&ouml;ffnet wird.</li>
            </ul>
        </div>
        <br><br>
        <a href="#" name="bot"></a>
        <script language="JavaScript" type="text/javascript">
            <!--
                  function delcheck(l1, l2) {
                var x = confirm('Wirklich löschen?');
                if (x) {
                    document.location.href = "admin.php?menu-" + l2 + "-delete-" + l1;
                }
            }
            function set_bmsicht(v1, v2, v3, v4) {
                document.form.link.style.display = v1;
                ;
                document.form.link1.style.display = v2;
                document.form.link2.style.display = v3;
                document.form.menutyp.style.display = v4;
            }

            function bmsicht( ) {
                var VAL = document.form.was.value;
                if (VAL == 1 || VAL == 2) {
                    document.form.cwebene.style.display = "none";
                } else {
                    document.form.cwebene.style.display = "inline";
                }
                if (VAL == 1) {
                    set_bmsicht("inline", "none", "none", "none");
                } else if (VAL == 2) {
                    set_bmsicht("none", "none", "none", "inline");
                } else if (VAL == 7) {
                    set_bmsicht("none", "inline", "none", "none");
                } else if (VAL == 8 || VAL == 9) {
                    set_bmsicht("none", "none", "inline", "none");
                }
            }

            bmsicht();
            //-->
        </script>
    </div>
</div>