<script type="text/javascript" src="include/includes/ckeditor/ckeditor.js"></script>
<script language="JavaScript" type="text/javascript"><!--
function delcheck (DELID) {
            var frage = confirm ("Willst du diesen Eintrag wirklich loeschen?");
                    if (frage == true) {
            document.location.href = "?news-del-" + DELID;
            }
            }

    function delKcheck (DELID, NID) {
    var frage = confirm ("Willst du dieses Kommentar wirklich loeschen?");
            if (frage == true) {
    document.location.href = "?news-sKoms-" + NID + "-Kdel-" + DELID + "#" + NID;
    }
    }

    function sichtbar(){
    if (document.form.katLis.value == "neu"){
    document.form.kat.style.visibility = "visible";
    } else {
    document.form.kat.style.visibility = "hidden";
    }
    }

    var datum, zeit;
            function switch_datum_zeit(){
            if (document.forms["form"].gesperrt.checked == false) {
            document.forms["form"].datum.disabled = false;
                    document.forms["form"].zeit.disabled = false;
                    document.forms["form"].datum.value = datum;
                    document.forms["form"].zeit.value = zeit;
            } else {
            datum = document.forms["form"].datum.value;
                    zeit = document.forms["form"].zeit.value;
                    document.forms["form"].datum.value = '';
                    document.forms["form"].zeit.value = '';
                    document.forms["form"].datum.disabled = true;
                    document.forms["form"].zeit.disabled = true;
            }
            }


    function switch_html(){
    var div = document.getElementById('txtdiv');
            var txtarea = document.getElementById('txt');
            if (document.forms["form"].html[1].checked || switch_html.arguments[0] == 'true') {
    var oldtxt = txtarea.value;
            document.getElementById('bbcode_buttons').style.display = 'none';
            document.getElementById('smilies').style.display = 'none';
            document.getElementById('btn_vorschau').style.display = 'none';
            var objCKE = CKEDITOR.replace('txt', {
            baseHref: 'include/includes/ckeditor/',
                    height : 400,
                    filebrowserBrowseUrl: 'include/includes/filemanager/index.html',
                    filebrowserUploadUrl: 'include/includes/filemanager/index.html'
            });
            if (switch_html.arguments[0] == 'true') {
    document.forms["form"].html[1].checked = true;
            objCKE.setData(document.getElementById('vorschau_td').innerHTML);
    } else {
    objCKE.setData(oldtxt);
    }

    document.getElementById('vorschau').style.display = 'none';
    } else {

    var objCKE = CKEDITOR.instances['txt'];
            var oldtxt = objCKE.getData();
            CKEDITOR.remove(objCKE);
            div.innerHTML = '<textarea id="txt" name="txt" class="form-control" rows="5" tabindex="2">' + oldtxt + '</textarea>';
            document.getElementById('bbcode_buttons').style.display = 'block';
            document.getElementById('smilies').style.display = 'block';
            document.getElementById('btn_vorschau').style.display = 'inline';
    }
    }

    function close_vorschau(){
    document.getElementById('vorschau').style.display = 'none';
            }

    function show_opts(){
    document.getElementById('news_opts_tbl').style.display = 'block';
            }

    function save_opts(){
    var kat = document.forms["news_opts"].nadd_kat.value;
            var newsempf = '';
            var sel = document.getElementById('pmempf');
            var len = sel.options.length
            for (var i = 0; i < len; i++) {
    if (sel.options[i].selected) {
    newsempf += sel.options[i].value + '#';
    }
    }
    xajax_saveopts(newsempf, kat);
            document.getElementById('news_opts_tbl').style.display = 'none';
            }

    function close_opts(){
    document.getElementById('news_opts_tbl').style.display = 'none';
            }

    function new_kat(){
    document.getElementById('nadd_kat_td').innerHTML = '<input class="form-control" type="text" value="" name="nadd_kat">';
            document.forms["news_opts"].nadd_kat.focus();
            }
//--></script>
{xajax}
<script type="text/javascript" src="include/includes/js/bbcode.js"></script>
<legend><h2>News <small>Newsartikel erstellen <a href="#hilfe"><span rel="tooltip" title="zu den Hilfestellungen" class="glyphicon glyphicon-question-sign text-muted" aria-hidden="true"></span></a></small><span class="pull-right"><a class="btn btn-info btn-sm" href="index.php?news-archiv">News Archiv einsehen</a></span></h2></legend>
<div class="panel panel-default" id="vorschau" style="display:none;">
    <div class="panel-heading text-center"><strong>Vorschau der News</strong></div>
    <table class="table">
        <tr>
            <td id="vorschau_td"></td>
        </tr>
    </table>
    <div class="panel-footer">
        <div class="btn-group">
            <input class="btn btn-default" type="button" value="Vorschau Schlie&szlig;en" onclick="close_vorschau();"><input class="btn btn-info" type="button" value="BBCode -&gt; HTML" onclick="switch_html('true');">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <form method="POST" name="form" id="form" action="?news" class="form-horizontal" role="form">
            <input type="hidden" name="um"     value="{AKTION}">
            <input type="hidden" name="newsID" value="{NEWSID}">
            <table class="table table-bordered">
                <tr>
                    <td><strong>Titel :</strong></td>
                    <td><input class="form-control" type="text" name="titel" value="{UEBER}" tabindex="1"></td>
                </tr>
                <tr>
                    <td><strong>News :</strong></td>
                    <td rowspan="2"  id="txttd">
                        <div id="bbcode_buttons">
                            <!-- BB Code START -->
                            {EXPLODE}
                            <a class="btn btn-default btn-sm" href="javascript:void(0);" onclick="simple('b')" rel="tooltip" title="{_lang_bold}"><i class="fa fa-bold"></i></a>
                            <a class="btn btn-default btn-sm" href="javascript:void(0);" onclick="simple('i')" rel="tooltip" title="{_lang_italic}"><i class="fa fa-italic"></i></a>
                            <a class="btn btn-default btn-sm" href="javascript:void(0);" onclick="simple('u')" rel="tooltip" title="{_lang_underlined}"><i class="fa fa-underline"></i></a>
                            <a class="btn btn-default btn-sm" href="javascript:void(0);" onclick="simple('code')" rel="tooltip" title="{_lang_code}"><i class="fa fa-code"></i></a>
                            <a class="btn btn-default btn-sm" href="javascript:void(0);" onclick="simple_liste()" rel="tooltip" title="{_lang_list}"><i class="fa fa-list-ol"></i></a>
                            <a class="btn btn-default btn-sm" href="javascript:void(0);" onclick="simple('url')" rel="tooltip" title="{_lang_link}"><i class="fa fa-link"></i></a>
                            <a class="btn btn-default btn-sm" href="javascript:void(0);" onclick="simple('img')" rel="tooltip" title="{_lang_picture}"><i class="fa fa-picture-o"></i></a>
                            <!-- BB Code ENDE -->
                            {EXPLODE}<script type="text/javascript" src="include/includes/js/BBCodeGlobal.js"></script>{__BBCodeButtons__}{EXPLODE}<br><br></div>
                        <div id="txtdiv"><textarea class="form-control" tabindex="2" id="txt" name="txt" rows="20" tabindex="2">{txt}</textarea></div>
                    </td>
                </tr>
                <tr>
                    <td><div id="smilies">{SMILIS}</div></td>
                </tr><tr>
                    <td><strong>Sichtbar f&uuml;r:</strong><br><small>(Grundrechte)</small></td>
                    <td>{grecht}</td>
                </tr>
                <tr>
                    <td><strong>Sichtbar f&uuml;r:</strong><br><small>(Gruppen/Teams)</small></td>
                    <td>{groups}</td>
                </tr>
                <tr>
                    <td><strong>Kategorie :</strong></td>
                    <td class="form-inline"><select class="form-control" onChange="sichtbar()" name="katLis">{KATS}<option value="neu">Neu:</option></select>&nbsp;&nbsp;<input class="form-control" type="text" name="kat"></td>
                </tr>
                <tr>
                    <td><strong>HTML:</strong></td>
                    <td><label for="html" class="radio-inline"><input type="radio" name="html" value="0" onchange="switch_html();" {sel0} > BBCode</label><label for="html" class="radio-inline"><input type="radio" name="html" value="1" onchange="switch_html();" {sel1} > HTML (FCKEditor)</label></td>
                </tr>
                <tr>
                    <td><strong>gesperrt:</strong></td>
                    <td><label for="datum"  title="Zeitpunkt ab dem die News sichtbar ist, falls die News nicht gesperrt wird" rel="tooltip" class="checkbox-inline"><input type="checkbox" name="gesperrt" {sel_gesperrt} onchange="switch_datum_zeit();" > <strong>Datum (TT:MM.YYYY)</strong></label><input class="form-control" type="input" name="datum" value="{datum}"><br><label for="zeit">Uhrzeit (HH:MM)</label><input class="form-control" type="input" name="zeit" value="{zeit}"><br>
                        <label for="set_time" class="checkbox-inline"><input type="checkbox" name="set_time" id="set_time"> Erstellungszeit der News auf Erscheinungszeit setzen</label><span class="help-block">( beim &Auml;ndern einer News mit dieser Option wird der Username vom Editierenden und die Editierzeit gel&ouml;scht )</span>
                    </td>
                </tr>
                <tr>
                    <td><strong>l&auml;uft aus:</strong></td>
                    <td><label for="close" class="radio-inline"><input type="radio" name="close" value="0" {csel0} > nein</label><label for="close" class="radio-inline"><input type="radio" name="close" value="1" {csel1} > sperren</label><label for="close" class="radio-inline"><input type="radio" name="close" value="2" {csel2} > Archiv</label>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="cdatum">Datum</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="input" name="cdatum" value="{cdatum}">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="czeit">Uhrzeit</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="input" name="czeit" value="{czeit}">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn btn-primary" type="submit" value="{FSUB}" name="submit">&nbsp;<input  class="btn btn-info" type="button" value="Vorschau" onclick="xajax_vorschau(xajax.getFormValues('form'));" id="btn_vorschau" style="display:inline;"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-md-4">
        {MPL}
        <div class="panel panel-success">
            <div class="panel-heading">News Liste</div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <tr class="success">
                        <td colspan="3" class="text-right"><a class="btn btn-primary btn-sm" href="admin.php?news">Neue News erstellen</a></td>
                    </tr>
                    {EXPLODE}<tr>
                        <td><a href="javascript:void(0);" onclick="xajax_vorschau_id({ID});"><span rel="tooltip" title="{title}" style="color:#3faa22;" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {TITEL}<br><small style="margin-left:16px;color:#2f2f2f;">Kategorie: {KAT}</small></a></td>
                        <td class="text-right" nowrap><a style="margin-right:5px;" href="javascript:void(0);" onclick="delcheck({ID})" rel="tooltip" title="News l&ouml;schen"><span style="color:#AD0000;" class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
                                <a style="margin-right:5px;" href="?news-edit-{ID}" rel="tooltip" title="News &auml;ndern"><span style="color:#2D9600;" class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a style="margin-right:5px;" href="?news-s{ID}" rel="tooltip" title="{sperren}">{sperre}</a>
                                <a href="?news-t{ID}">{topnews}</a></td>
                        <td class="warning text-center"><a id="archiv_link_{ID}" href="javascript:void(0);" onclick="xajax_setArchiv({ID}, document.getElementById('archiv_link_{ID}').innerHTML);">{archiv}</a></td>
                    </tr>{EXPLODE}
                    <tr>
                        <td colspan="3" class="warning text-right">
                            <div class="btn-group">
                                <a class="btn btn-danger btn-sm" href="?news-t0">Topnews entfernen</a><a class="btn btn-info btn-sm" href="javascript:void(0);" onclick="show_opts();">Optionen</a>
                            </div>
                        </td>
                    </tr>
                </table>
                {MPL}
                </td>
                </tr>
                </table>
            </div>
        </div>
        <form id="news_opts" role="form">
            <div class="panel panel-default" id="news_opts_tbl" style="position:absolute; top:50%;left:50%;margin-left:-150px;margin-top:-175px;width:300px;height:350px;display:none;z-index:1001;-webkit-box-shadow:2px 2px 14px 0px rgba(0, 0, 0, 0.92);-moz-box-shadow:2px 2px 14px 0px rgba(0, 0, 0, 0.92);box-shadow:2px 2px 14px 0px rgba(0, 0, 0, 0.92);"><div class="panel-body bg-info"> 
                    <legend><h4>News Optionen</h4></legend>
                    Kommentare bei Topnews zulassen:  <a href="javascript:void(0);" onclick="xajax_tn_koms();" id="tn_koms">{tn_koms}</a><br><br>
                    <div class="form-group" id="nadd_kat_td">
                        <label >Kategorie f&uuml;r News einsenden</label>
                        <select class="form-control" id="nadd_kat" name="nadd_kat">{nadd_kat}<option onclick="new_kat();">Neu</option></select>
                    </div>
                    <div class="form-group">
                        <label >PM-Empf&auml;nger bei Newseinsendungen</label>
                        <select class="form-control" id="pmempf" name="pmempf[]" >{pmempf}</select>
                    </div>
                    <div class="btn-group">
                        <input class="btn btn-primary" type="button" value="Speichern" onclick="save_opts();"><input class="btn btn-danger" type="button" value="Schlie&szlig;en" onclick="close_opts();">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="jumbotron">
    <legend><a name="hilfe" class="text-muted">Hilfe zu den Einstellungen</a></legend>
    <div class="row">
        <div class="col-md-3">
            <div class="alert alert-info" role="alert">
                <h4>Kategorie Bild</h4>
                Das Kategorie Bild muss in den Ordner <strong>include/images/news/</strong>.
                Das Bild muss genau wie die Kategorie heissen z.B. wenn die Kategorie Allgemein heisst dann muss das Bild Allgemein heissen;)...
                <br>Die Endung muss entweder .jpg oder .gif sein bei uns also z.B. Allgemein.jpg .
            </div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-info" role="alert">
                <h4>Vorschau Funktion</h4>
                Soll nur ein kleinerer Vorschautext angezeigt werden, einfach erst die Vorschau
                eingeben und nach der Vorschau dann <b>[PREVIEWENDE]</b> schreiben. Dann den langen
                Text eintragen.<br>
                Falls Bilder nicht verkleinert werden einfach nochmal auf den Vorschaubutton klicken.
            </div></div>
        <div class="col-md-3">
            <div class="alert alert-info" role="alert">
                <h4>BBCode / HTML</h4>
                Du kannst zwischen HTML (FCK Editor) und BBCode umschalten, beachte dass eine direkte Umwandlung
                der beiden Formate untereinander nicht m&ouml;glich ist, also keine Formatierung &uuml;bernommen werden.<br>
                BBCode-News k&ouml;nnen auch zu HTML News umgewandelt werden (Vorschau benutzen), aber nur diese Richtung ist m&ouml;glich.
            </div></div>
        <div class="col-md-3">
            <div class="alert alert-success" role="alert">
                <h4>Topnews</h4>
                Du kannst genau eine News als Topnews markieren, diese wird dann falls
                die Newsseite aufgerufen wird immer oben angezeigt. Das Aussehen ist durch das Template include/templates/news_top.htm festgelegt.
                Die News bei dem <span style="color:#FF6600" rel="tooltip" title="als Topnews gesetzt" class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> steht ist die derzeitige Topnews, durch dr&uuml;cken
                auf <span style="color:#31708f" rel="tooltip" title="als Topnews setzen" class="glyphicon glyphicon-hand-left" aria-hidden="true"></span> bei einer News kannst du diese zur Topnews machen.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-danger" role="alert">
                <h4>Sperren</h4>
                Du kannst eine News sperren ( <span style="color:#FF0000;" class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> ), dann wird sie nicht angezeigt, eingesendete News sind automatisch gesperrt.
                Wenn eine News nicht gesperrt ist ( <span style="color:#2D9600;" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> ), kannst du ein Datum angeben, ab dem die News angezeigt wird.<br />
                <u>Beachte:</u> Falls eine News mit Datum gesperrt wird, geht dieses Datum verloren.
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-info" role="alert">
                <h4>Archiv</h4>

                Wenn eine News schon etwas &auml;lter ist, kannst du sie ins Archiv schieben, damit wird sie nicht mehr bei News angezeigt, sondern im Newsarchiv.<br />
                Das ist die Spalte ganz rechts, <strong>A</strong> steht f&uuml;r ist im Archiv und <strong>N</strong> f&uuml;r normal bei den News.
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-warning" role="alert">
                <h4>Ablaufdatum</h4>
                Du kannst eine News zu einer bestimmten Zeit ablaufen lassen, sie wird dann entweder gesperrt oder ins Archiv verschoben.
            </div>
        </div>
    </div>
</div>
<script language="JavaScript" type="text/javascript">
<!--
            sichtbar();
    {html}
//-->
</script>