<div class="row">
    <form action="admin.php?trains" method="POST" role="form">
        <input type="hidden" name="send" value="1">
        <span class="visible-xs-offcanvas"><br><br></span>
        <div class="col-md-12">
            <legend><h2><i class="fa fa-dot-circle-o"></i> Trainingszeiten</h2></legend>
            <div class="form-group">
                <div class="col-xs-6">
                    <label>Montag</label>
                    <textarea class="form-control" rows="3" name="mon">{MON}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label>Dienstag</label>
                    <textarea class="form-control" rows="3" name="die">{DIE}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label>Mittwoch</label>
                    <textarea class="form-control" rows="3" name="mit">{MIT}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label>Donnerstag</label>
                    <textarea class="form-control" rows="3" name="don">{DON}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label>Freitag</label>
                    <textarea class="form-control" rows="3" name="fre">{FRE}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label>Samstag</label>
                    <textarea class="form-control" rows="3" name="sam">{SAM}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <label>Sonntag</label>
                    <textarea class="form-control" rows="3" name="son">{SON}</textarea>
                </div>
            </div>
        </div></div>
<div class="row">
    <div class="col-md-12"><br>
        <div class="form-group">
            <div class="col-xs-6">
                <label></label>
                <input type="submit" class="btn btn-primary" value="&Auml;ndern" name="sub">
            </div>
        </div>
    </div>
</div>
</form>