<!DOCTYPE html>
<html lang="de">
    <!--
    #########################################
    # Hohlwegler-Unternehmensberatung
    # Design V1 - 2014
    #########################################
    # Designed by Felix Hohlwegler
    # www.felix-hohlwegler.de
    #########################################
    -->
    <head>
        <!--Bootstrap - CSS + JS-->
        <link rel="stylesheet" type="text/css" href="include/admin/templates/bootstrap/css/bootstrap.css" media="screen" >
    </head>
    <body>
        <div class="container-fluid ">
            <div class="design">

                <div class="row">

                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h1>Login</h1>
                        <form role="form" action="index.php?user-login" method="POST">

                            <div class="form-group">
                                <label for="name">Benutzername</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Benutzername" />
                            </div>

                            <div class="form-group">
                                <label for="name">Passwort</label>
                                <input type="password" class="form-control" name="pass" id="pass" placeholder="Passwort" />
                            </div>

                            <input type="hidden" name="wdlink" value="{WDLINK}" />
                            <input type="submit" class="btn btn-default" value="{_lang_login}" name="user_login_sub" />
                            <a href="index.php?user-remind">
                                <input type="submit" class="btn btn-default"  value="{_lang_forgottenpassword}? " name="user_login_sub1" />
                            </a>
                        </form>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>

        {EXPLODE}
        {_lang_yourareloged}!
        {EXPLODE}

        {_lang_login3failure}
    </body>
</html>

