<form action="index.php?user-login" method="POST">
    <fieldset>
        <legend><b>{_lang_LOGIN}</b></legend>
        <label class="ilch_float_l label_80">{_lang_nickname} :</label><input type="text" tabindex="1" name="name" maxlength="25"><br>
        <label class="ilch_float_l label_80">{_lang_password} :</label><input type="password" tabindex="2" name="pass" maxlength="25"><br>
        <label class="ilch_float_l label_80"></label><input type="hidden" name="wdlink" value="{WDLINK}" /><input type="submit" tabindex="3" value="{_lang_login}" name="user_login_sub"><br><br>
        <label class="ilch_float_l label_80"></label><a href="index.php?user-regist">{_lang_registernow}</a><br>
        <label class="ilch_float_l label_80"></label><a href="index.php?user-remind">{_lang_forgottenpassword}?</a>
    </fieldset>
</form>
{EXPLODE}
{_lang_yourareloged}!
{EXPLODE}
{_lang_login3failure}