<!-- CSS -->
<link href="include/includes/css/admin_login.css" rel="stylesheet"> 
<link href="include/includes/css/ilch_default.css" rel="stylesheet">
<!-- END CSS -->

<div class="admin-login-login_container">
    <div class="admin-login-form_container">
        <img class="admin-login-logo" src="include/images/etc/ilch_logo.png">
        <form  method="POST" action="index.php?user-13-admin">
            <input type="text" name="name" class="admin-login-form-control" placeholder="{_lang_nickname}" value="">
            <div class="admin-login-btn-box"><button class="admin-login-btn" type="submit">{_lang_newpassword}</button></div>
            <div class="admin-login-link-box"><a href="admin.php">Admin Login</a></div>
            <br style="clear: both;" />
        </form>
    </div>
</div>

