<form action="index.php?user-profil" method="POST" enctype="multipart/form-data">
	{antispam}
    <fieldset>
	  <legend><strong>{_lang_changepersonaldetails}</strong></legend>
		  <br>
		  <label class="ilch_float_l label_80">{_lang_mail}</label><input name="email" value="{email}"><input type="hidden" name="aemail" value="{email}"><span class="ilch_input_info_80 smalfont">{_lang_mustbeentered}</span>
			<label class="ilch_float_l label_80">{_lang_homepage}</label><input name="homepage" value="{homepage}"><br class="both">
			<label class="ilch_float_l label_80">{_lang_hometown}</label><input name="wohnort" value="{wohnort}"><br class="both">
			<label class="ilch_float_l label_80">{_lang_icq}</label><input name="icq" value="{icq}"><br class="both">
			<label class="ilch_float_l label_80">{_lang_msn}</label><input name="msn" value="{msn}"><br class="both">
			<label class="ilch_float_l label_80">{_lang_yahoo}</label><input name="yahoo" value="{yahoo}"><br class="both">
			<label class="ilch_float_l label_80">{_lang_aim}</label><input name="aim" value="{aim}"><br class="both">
			<label class="ilch_float_l label_80">{_lang_birthday}</label><input name="gebdatum" value="{gebdatum}"><span class="ilch_input_info_80 smalfont">{_lang_dateformat}</span><span class="both"></span>
			<label class="ilch_float_l label_80">{_lang_state}</label><select name="staat">{_list_staat@<option%1 value="%2">%3</option>}</select><br class="both"><br>
			<label class="ilch_float_l label_120">{_lang_sex}</label><input type="radio" value="1" id="geschlecht1" name="geschlecht" {geschlecht1} /><label for="geschlecht1"> {_lang_male}</label>, <input id="geschlecht2" type="radio" value="2" name="geschlecht" {geschlecht2} /><label for="geschlecht2"> {_lang_female}</label><input id="geschlecht0" type="radio" value="0" name="geschlecht" {geschlecht0} /><label for="geschlecht0"> {_lang_itdoesntmatter}</label><br class="both">
			<label class="ilch_float_l label_120">{_lang_status}</label><input id="status_aktiv" type="radio" value="1" name="status" {status1} /><label for="status_aktiv"> {_lang_active}</label>, <input id="status_inaktiv" type="radio" value="0" name="status" {status0} /><label for="status_inaktiv"> {_lang_inactive}</label><br style="clear:both;" />
			<label class="ilch_float_l label_120">{_lang_mails}<br><span class="smalfont"> {_lang_fromotherusers}?</span></label><input id="opt_mail1" type="radio" value="1" name="opt_mail" {opt_mail1} /><label for="opt_mail1"> {_lang_yes}</label>, <input id="opt_mail0" type="radio" value="0" name="opt_mail" {opt_mail0} /><label for="opt_mail0"> {_lang_no}</label><br class="both">
			<label class="ilch_float_l label_120">{_lang_privatemessages}<br><span class="smalfont"> {_lang_fromotherusers}?</span></label><input id="opt_pm1" type="radio" value="1" name="opt_pm" {opt_pm1} /><label for="opt_pm1"> {_lang_yes}</label>, <input id="opt_pm0" type="radio" value="0" name="opt_pm" {opt_pm0} /><label for="opt_pm0"> {_lang_no}</label><br class="both">
			<label class="ilch_float_l label_120">{_lang_privatemessages}<br><span class="smalfont"> {_lang_popupbynewmsg}?</span></label><input id="opt_pm_popup1" type="radio" value="1" name="opt_pm_popup" {opt_pm_popup1} /><label for="opt_pm_popup1"> {_lang_yes}</label>, <input id="opt_pm_popup0" type="radio" value="0" name="opt_pm_popup" {opt_pm_popup0} /><label for="opt_pm_popup0"> {_lang_no}</label><br class="both"><br>
			{_if_{forum_usergallery}=='1'}<div class="text-center">
                <a class="ilch_a_link_s" href="index.php?user-usergallery-{uid}">Usergallery</a> &nbsp; <a href="index.php?user-remove"/></a>
            </div>{/_endif}<br>
            {EXPLODE}
      <fieldset>
      <legend>{_lang_removeaccount}</legend>
      <div class="text-center"><input type="checkbox" value="yes" name="removeaccount"> {_lang_delete}? &nbsp; <span class="smalfont">{_lang_mustbeentered}</span></div>
      </fieldset>
      <fieldset>
			  <legend>{_lang_avatar}</legend>
        <div class="text-center">
			    {avatarbild}<br><input type="checkbox" value="yes" name="avatarloeschen"> {_lang_delete}?<br><br>
			    <input type="file" name="avatarfile" /><br><span class="smalfont"><br>{_lang_criterions}: {_lang_maxwidth} {Fabreite}px, {_lang_maxheight} {Fahohe}px {_lang_and} max size {Fasize} bytes.  {_lang_otherwisenoaction}.</span>
       </div>
			</fieldset>
			<br>
			{EXPLODE}
			<fieldset>
			  <legend>{_lang_signature}</legend>
			   <span class="smalfont">{_lang_max} {forum_max_sig} {_lang_signs}.</span><br><textarea cols="50" rows="3" name="sig">{sig}</textarea><br>
			</fieldset>
			<br />
			<fieldset>
			  <legend>{_lang_editpassword}</legend>
			    <br />
			    <label class="ilch_float_l label_80">{_lang_current}</label><input  type="password" name="op" maxlength="20"><br>
			    <label class="ilch_float_l label_80">{_lang_new}</label><input type="password" name="np1" maxlength="20"><br>
			    <label class="ilch_float_l label_80">{_lang_repeat}</label><input type="password" name="np2" maxlength="20"><br>
			</fieldset>
      <br>
      <fieldset>
        <br>
    {EXPLODE}
      </fieldset>
      <br>
      <div class="text-center">
      <input type="submit" value="{_lang_send2}" name="submit"><br>
      </div>
	</fieldset><br>
</form>
