<div>
<a class="ilch_back_button" href="javascript:history.back(1)"><strong>&laquo;</strong> {_lang_back}</a>
</div>
<table class="border tablebordertop">
    <tr class="Chead"> 
        <th colspan="3"><strong>{_lang_detailsfrom} {NAME}</strong></th>
    </tr>
    <tr>
        <td class="Cmite text-left">{_lang_nickname}</td>
        <td class="Cnorm text-left">{NAME}</td>
        <td class="Cnorm text-center ilch_vertikal_top" rowspan="{rowspan}">
            {AVATA}
            <br><br>
            <span class="smalfont">{RANG}</span>
        </td>
    </tr>
    <tr>
        <td class="Cmite text-left">{_lang_regsince}</td>
        <td class="Cnorm text-left">{JOINED}</td>
    </tr>
    <tr>
        <td class="Cmite text-left">{_lang_lastactivity}</td>
        <td class="Cnorm text-left">{LASTAK}</td>
    </tr>
    <tr>
        <td class="Cmite text-left">{_lang_posts2}</td>
        <td class="Cnorm text-left">{POSTS}, {_lang_perday}: {postpday}</td>
    </tr>
    {profilefields}
</table>
<div>
<a class="ilch_back_button" href="javascript:history.back(1)"><strong>&laquo;</strong> {_lang_back}</a>
</div>