{_lang_category}: <select id="cats" name="cats"><option value="0">{_lang_showall}</option>{_list_cats@<option value="%1">%1</option>}</select> &nbsp;
{_lang_year}: <select id="year" name="year"><option value="0">{_lang_showall}</option>{_list_years@<option value="%1">%1</option>}</select> &nbsp;
 <input type="button" value="anzeigen" onclick="xajax_showcat(document.getElementById('cats').value,document.getElementById('year').value);" /><hr><br>
<div id="narchiv"></div>
{EXPLODE}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<table class="border">
<tr class="Chead"><th class="text-left">{_lang_titlen} <span class="smalfont">({_lang_comment})</span></th><th class="text-center">{_lang_author}</th><th class="text-center">{_lang_date}</th><th class="text-center">{_lang_category}</th><th class="text-center">Print</th><th class="text-center">Hits</th></tr>
{EXPLODE}
<tr class="{class}"><td class="text-left"><a href="index.php?news-{id}">{title}</a> ({koms})</td><td class="text-center"><a href="index.php?user-details-{uid}">{name}</a></td><td class="text-center">{datum}{edit}</td><td class="text-center">{kat}</td><td class="text-center">{print}</td><td class="text-center">{klicks}</td></tr>
{EXPLODE}
</table>
<div class="tdweight100 text-center tablebordertop">{MPL}</div>