<div class="tdweight100 ilch_news_margin">
<div class="tdweight100 text-left ilch_news_kategorie">{kate}
<span class="smalfont">{datum}</span><br><strong><a href="index.php?news-{id}"><h3>{title}</h3></a></strong>
</div>
<div class="tdweight100 tablebordertop ilch_news_img">{text}</div>
<br><hr>
<div class="tdweight100 ilch_float_l smalfont">
<div class="smalfont text-left ilch_float_l">Geschrieben von <strong>{username}</strong>{edit}</div>
<div class="smalfont text-right ilch_float_r">
        <a href="index.php?user-details-{uid}" alt="Benutzerinfo: {username}" title="Benutzerinfo: {username}"><img src="include/images/icons/news/informant.gif" alt="Benutzerinfo: {username}" border="0"></a>
        <a href="index.php?news-{id}" alt="Kommentare ({kom})" title="Kommentare ({kom})"><img src="include/images/icons/news/comments.gif" alt="Kommentare ({kom})" border="0"></a>
        <a href="index.php?news-send-{id}" alt="Diese News einen Freund senden" title="Diese News einen Freund senden"><img src="include/images/icons/news/send.gif" alt="Diese News einen Freund senden" border="0"></a>
        <a href="index.php?news-print-{id}" alt="Druckoptimierte Version" title="Druckoptimierte Version"><img src="include/images/icons/news/print.gif" alt="Druckoptimierte Version" border="0"></a>
        {klicks}
        {readwholenews}
      </div>
</div>
</div>
{EXPLODE}
<div class="tdweight100 text-center tablebordertop">{SITELINK}</div>


{EXPLODE}
<script language="JavaScript" type="text/javascript">
function delkom (NID, ID) {
var Check = confirm("Kommentar wirklich löschen?")
if (Check == true) window.open("index.php?news-"+NID+"-d"+ID,"_self");
}</script>
<!-- News Kommentare und Mehr lesen -->
<div class="border">
<div class="ilch_case">
<div class="Chead text-center"><strong>{NAME}</strong></div>
<div class="Cmite ilch_news_in">{_lang_message}</div>
<div class="text-left ilch_case_in ilch_news_img Cnorm">{KATE}<br>{TEXT}</div>
<div class="ilch_news_in Cmite"><a href="javascript:history.back(1)"><strong>&laquo;</strong>{_lang_back}</a></div>
<div class="Chead"><strong>{_lang_commentsfor}</strong>  {NAME}</div>
	    {EXPLODE}
<div class="ilch_news_in Cnorm">
	    <form action="index.php?news-{NID}" method="POST">
        <fieldset>
          <legend>{_lang_writecomment}</legend>
          <input type="text" name="name" value="{uname}">&nbsp;{ANTISPAM}&nbsp;<input type="submit" value="{_lang_enter}"><br>
          <textarea class="tdweight98" cols="50" rows="2" name="txt"></textarea><br>
        </fieldset>
      </form>
</div>
      {EXPLODE}
<div class="text-left ilch_news_in Cnorm">
      <span class="Cmite"># <strong>{ZAHL}</strong> von {NAME}</span>
      <br>{TEXT}
</div>
      {EXPLODE}
<div class="ilch_news_in Cmite"><a href="javascript:history.back(1)"><strong>&laquo;</strong>{_lang_back}</a></div>
</div></div>
