<div class="border">
    <div class="ilch_case">
        <div class="Chead text-center">{_lang_yousendthenews}:<br><strong>{ntitle}</strong></div>
        <div class="ilch_case_in Cnorm">
            <form action="?news-send" method="POST" enctype="multipart/form-data">
                <input type="hidden" value="1" name="submit">
                <input type="hidden" value="{nid}" name="nid">
                <input type="hidden" value="{ntitle}" name="ntitle">
                <label class="ilch_float_l label_140">{_lang_youname}</label><input type="text" name="name" {readonly} value="{name}" size="32"><br>
                <label class="ilch_float_l label_140">{_lang_youemail}</label><input type="text" name="mail" value="{mail}" size="32"><br>
                <label class="ilch_float_l label_140">{_lang_nameofyourfriend}</label><input type="text" name="fname" value="{fname}" size="32"><br>
                <label class="ilch_float_l label_140">{_lang_emailaddressofyourfriend}</label><input type="text" name="fmail" value="{fmail}" size="32"><br><br>
                <label class="ilch_float_l label_140">{_lang_personalyremarks}</label><textarea name="txt" cols="30" rows="8">{txt}</textarea><br>
                {ANTISPAM}<br>
                <label class="ilch_float_l label_140"></label><input type="submit" value="{_lang_formsub}">
            </form>
        </div>
    </div>
</div>