<div class="tdweight100 ilch_float_l">
    <strong>[</strong> <a href="index.php?forum-privmsg">{_lang_inbox}</a> <strong>|</strong> <a href="index.php?forum-privmsg-showsend">{_lang_outbox}</a> <strong>]</strong>
    <span class="text-right ilch_float_r">
        <strong>[</strong> <a href="index.php?forum-privmsg-new">{_lang_writemessage}</a> <strong>]</strong>
    </span>
</div>
<br>
<div class="border tablebordertop">
    <div class="ilch_case">
        <div class="Chead"><strong>{titel}</strong></div>
        <div class="Cdark">{_lang_sentto} <strong>{name}</strong> {_lang_on} {time} {_lang_oclock}</div>
        <div class="ilch_case_in Cnorm pm_ilch_img">{txt}</div>
        <div class=" text-right ilch_case_in Cmite">
            <input type="button" value="{_lang_delete}" onclick="document.location.href = '?forum-privmsg-delete-{id}-s'">
        </div>
    </div>
</div>  