<html>
    <head>
        <link href="include/admin/templates/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="include/admin/templates/bootstrap/css/style.css" rel="stylesheet">
    </head>
    <body>
    <legend>Kategorien verwalten</legend>
    <form action="admin.php?groups-funcs" method="POST"  role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Nr.</label>
            <div class="col-sm-4">
                <input class="form-control" name="apos" placeholder="Nr.">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
                <input name="aname" class="form-control" placeholder="Name">
            </div>
        </div>
        <span class="pull-right"><input class="btn btn-primary" type="submit" value="Hinzuf&uuml;gen" name="s"></span>

        <br><br>
        {EXPLODE}
        <table class="table table-bordered">
            <tr>
                <td><input class="form-control" name="pos[{id}]" value="{pos}"></td>
                <td><input class="form-control" name="name[{id}]" value="{name}" /></td>
                <td style="vertikal-align:middle;text-align:center;"><a href="admin.php?groups-funcs-d{id}"><span style="color:#AD0000;" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
            </tr>
            {EXPLODE}
        </table>
        <span class="pull-right"><input class="btn btn-primary" type="submit" value="Send" name="s"></span>
    </form>
</body>
</html>