<div class="text-center">
    <h3><strong>{_lang_entries} {_lang_delete}</strong></h3>
    <form action="index.php?forum-delpost-{tid}-{get3}" method="POST">
        <div>
            {antispam}
            {_lang_doyoureallydelthispost}<br><br>
            <input type="hidden" value="1" name="delete">
            <input type="submit" value="{_lang_yes}">&nbsp;&nbsp;<input type="button" value="{_lang_no}" onclick="history.back(-1)">
        </div>
    </form>
</div>
{EXPLODE}
{_lang_thedelwassuccessful} <a href="index.php?forum-showposts-{tid}">{_lang_topic}</a> &laquo;