<table class="border">
    <tr>
        <th colspan="2" class="Chead">
            <strong>{_lang_preview}</strong>
        </th>
    </tr>
    <tr>
        <td class="Cmite">{txt}</td>
    </tr>
</table>
{EXPLODE}
<script type="text/javascript">
<!--
    function form_check() {
        document.form.submit.disabled = true;
        document.form.submit.style.background = '#FF0000';
        document.form.submit.value = '{_lang_send}...';
        return true;
    }
//-->
</script>
<script type="text/javascript" src="include/includes/js/bbcode.js"></script>
<form action="index.php?forum-newpost-{tid}" method="POST" name="form" onSubmit="return form_check()">
    <table class="border">
        <tr>
            <td colspan="2" class="Chead"><strong>{_lang_writeananswer}</strong></td>
        </tr>
        {name}
        <tr>
            <td colspan="2" class="Cmite"><strong>{_lang_writeyourpost}</strong></td>
        </tr>
        <tr>
            <td class="Cmite text-center ilch_vertikal_top" rowspan="2">{SMILIES}</td>
            <td class="Cnorm bg_color_bbcode">{__BBCodeButtons__}</td>
        </tr>
        <tr>
            <td class="tdweight80 Cnorm">
                <textarea class="tdweight98" name="txt" rows="15" cols="55" tabindex="2">{txt}</textarea>
            </td>
        </tr>
        <tr>
            <td class="Cmite">{_lang_options}</td>
            <td class="Cnorm"><input id="topic_alert" type="checkbox" value="yes" name="topic_alert"><label for="topic_alert"> {_lang_mailonreply}</label></td>
        </tr>
        {antispam}
        <tr class="Cmite">
            <td></td>
            <td><input type="submit" name="priview" value="{_lang_preview}" accesskey="v">&nbsp;<input type="submit" name="submit" value="{_lang_formsub}" accesskey="s"></td>
        </tr>
    </table>
</form>
<br>
<strong>{_lang_overvieaboutthelast5posts}</strong>
<table class="border tablebordertop">
    {EXPLODE}
    <tr class="Cnorm">
        <td class="ilch_vertikal_top">{erst}</td>
        <td>{txt}</td>
    </tr>
    {EXPLODE}
</table>