<table>
    <tr> 
        <td class="text-left">{SITELINK}</td>
        <td class="text-right">{ANTWORTEN}</td>
    </tr>
</table>
<table class="border tablebordertop">
    <tr class="Chead"> 
        <th colspan="2" class="text-center"><strong>{TOPICNAME}</strong></th>
    </tr>
    {EXPLODE}
    <tr class="{class}"> 
        <td class="ilch_vertikal_top text-center"><a name="{id}"></a>{erst}<br><span class="smalfont">{rang}{avatar}{posts}</span></td>
        <td class="ilch_vertikal_top">
            <div class="text-left  ilch_float_l smalfont"><a class="smallfont" href="index.php?forum-showposts-{TID}#{id}" title="{i}. Post in diesem Thema">#</a>&nbsp;{date}</div>
            <div class="text-right ilch_float_r">{delete}&nbsp;{change}&nbsp;<a href="index.php?forum-newpost-{TID}-z{id}">{_lang_quote}</a>&nbsp;</div>
            <br>
            <hr>
            <br>      								
            {txt}
            {sig}
        </td>
    </tr>
    <tr> 
        <td colspan="2" class="Cdark forum_cdark"></td>
    </tr>
    {EXPLODE}
</table>
<table>
    <tr> 
        <td class="text-left">{SITELINK}</td>
        <td class="text-right">{ANTWORTEN}</td>
    </tr>
</table>
{EXPLODE}
<br>
<strong>{_lang_administrattopic}</strong><br>
<a href="javascript:renametopic()">{_lang_rename}</a>
&nbsp;,&nbsp;
<a href="index.php?forum-edittopic-{tid}-2">{_lang_delete}</a>
&nbsp;,&nbsp;
<a href="index.php?forum-edittopic-{tid}-3">{_lang_shift}</a>
&nbsp;,&nbsp;
<a href="index.php?forum-edittopic-{tid}-4-2">{status}</a>
&nbsp;,&nbsp;
<a href="index.php?forum-edittopic-{tid}-5">{festnorm}</a>
<script type="text/javascript">
<!--
    function renametopic() {
        var x = prompt("Bitte den neuen Namen vom Thema eintragen", "");
        if (x) {
            document.location.href = "index.php?forum-edittopic-{tid}-1=0&newTopic=" + x;
        }
    }

//-->
</script>