<legend><h2>BBCode 2.0  <small>Buttons</small></h2></legend>
<form action="admin.php?bbcode-buttons" method="POST" name="form" class="form-horizontal" role="form">
    {Message}
    <div class="panel panel-warning">
        <div class="panel-heading">Zeichenformatierung</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Text Fett formatieren!">[b] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_B"><option value="1" {Selected_B_On}> Ja </option><option value="0" {Selected_B_Off}> Nein </option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Text Kursiv formatieren!">[i] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_I"><option value="1" {Selected_I_On}> Ja </option><option value="0" {Selected_I_Off}> Nein </option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Text unterstrichen formatieren!">[u] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_U"><option value="1" {Selected_U_On}> Ja </option><option value="0" {Selected_U_Off}> Nein </option></select>
                        </div>
                    </div>   
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Text durchgestrichen formatieren!">[s] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_S"><option value="1" {Selected_S_On}> Ja </option><option value="0" {Selected_S_Off}> Nein </option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Text hervorheben!">[emph] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_EMPH"><option value="1" {Selected_EMPH_On}> Ja </option><option value="0" {Selected_EMPH_Off}> Nein </option></select>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">  
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Schriftfarbe formatieren!">[color] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_COLOR"><option value="1" {Selected_COLOR_On}> Ja </option><option value="0" {Selected_COLOR_Off}> Nein </option></select>
                        </div>
                    </div>                                   
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Schriftgroesse formatieren!">[size] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_SIZE"><option value="1" {Selected_SIZE_On}> Ja </option><option value="0" {Selected_SIZE_Off}> Nein </option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="E-Mail!">[mail] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_MAIL"><option value="1" {Selected_MAIL_On}> Ja </option><option value="0" {Selected_MAIL_Off}> Nein </option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Hyperlinks!">[url] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_URL"><option value="1" {Selected_URL_On}> Ja </option><option value="0" {Selected_URL_Off}> Nein </option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="URL automatisch in einen Link umwandeln!">URL Auto. umwandeln?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_AUTO_URL"><option value="1" {Selected_AUTO_URL_On}> Ja </option><option value="0" {Selected_AUTO_URL_Off}> Nein </option></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">Absatzformatierung</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">                      
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Text links ausrichten!">[left] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_LEFT"><option value="1" {Selected_LEFT_On}> Ja </option><option value="0" {Selected_LEFT_Off}> Nein </option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Text mittig ausrichten!">[center] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_CENTER"><option value="1" {Selected_CENTER_On}> Ja </option><option value="0" {Selected_CENTER_Off}> Nein </option></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"> 
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Text rechts ausrichten!">[right] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_RIGHT"><option value="1" {Selected_RIGHT_On}> Ja </option><option value="0" {Selected_RIGHT_Off}> Nein </option></select>
                        </div>
                    </div>                               
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Text als Block ausrichten!">[block] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_BLOCK"><option value="1" {Selected_BLOCK_On}> Ja </option><option value="0" {Selected_BLOCK_Off}> Nein </option></select>
                        </div>
                    </div>                              
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">Sonderformatierung</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">                         
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Smilies!">Smilies erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_SMILIES"><option value="1" {Selected_SMILIES_On}> Ja </option><option value="0" {Selected_SMILIES_Off}> Nein </option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Aufzaehlung!">[list] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_LIST"><option value="1" {Selected_LIST_On}> Ja </option><option value="0" {Selected_LIST_Off}> Nein </option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Klapptext!">[ktext] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_KTEXT"><option value="1" {Selected_KTEXT_On}> Ja </option><option value="0" {Selected_KTEXT_Off}> Nein </option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Grafik!">[img] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_IMG"><option value="1" {Selected_IMG_On}> Ja </option><option value="0" {Selected_IMG_Off}> Nein </option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Bild in Usergallery hochladen und einf&uuml;gen erlauben!">Bildupload erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_IMGUPL"><option value="1" {Selected_IMGUPL_On}> Ja </option><option value="0" {Selected_IMGUPL_Off}> Nein </option></select>
                        </div>
                    </div>  
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="verkleinerte Grafik!">[screenshot] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_SCREEN"><option value="1" {Selected_SCREEN_On}> Ja </option><option value="0" {Selected_SCREEN_Off}> Nein </option></select>
                        </div>
                    </div>  
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Videos von YouTube,Google und MyVideo!">[video] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_VIDEO"><option value="1" {Selected_VIDEO_On}> Ja </option><option value="0" {Selected_VIDEO_Off}> Nein </option></select>
                        </div>
                    </div>  
                </div>
                <div class="col-md-6"> 
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Countdown bis zum Datum [Tage, Stunden, Minuten und Sekunden]!">[countdown] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_COUNTDOWN"><option value="1" {Selected_COUNTDOWN_On}> Ja </option><option value="0" {Selected_COUNTDOWN_Off}> Nein </option></select>
                        </div>
                    </div>                                    
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="PHP Code Highlight!">[php] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_PHP"><option value="1" {Selected_PHP_On}> Ja </option><option value="0" {Selected_PHP_Off}> Nein </option></select>
                        </div>
                    </div>  
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="CSS Code Highlight!">[css] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_CSS"><option value="1" {Selected_CSS_On}> Ja </option><option value="0" {Selected_CSS_Off}> Nein </option></select>
                        </div>
                    </div>  
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="HTML Code Highlight!">[html] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_HTML"><option value="1" {Selected_HTML_On}> Ja </option><option value="0" {Selected_HTML_Off}> Nein </option></select>
                        </div>
                    </div>  
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Code Box!">[code] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_CODE"><option value="1" {Selected_CODE_On}> Ja </option><option value="0" {Selected_CODE_Off}> Nein </option></select>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Kommentare!">[quote] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_QUOTE"><option value="1" {Selected_QUOTE_On}> Ja </option><option value="0" {Selected_QUOTE_Off}> Nein </option></select>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="control-form col-sm-5 text-right" style="line-height: 34px;"><span rel="tooltip" title="Flash!">[flash] erlauben?</span></label>
                        <div class="col-sm-5">
                            <select class="form-control" name="BBCode_FLASH"><option value="1" {Selected_FLASH_On}> Ja </option><option value="0" {Selected_FLASH_Off}> Nein </option></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">                              
        <input class="btn btn-primary" type="submit" value="Button Konfiguration speichern" name="BB_SubmitButtons">
    </div>
</form>