
/* Ilch Allgemein */

table{
width: 100%;
border-spacing: 0
}
td,
th {
padding: 0
}
.border{
width: 100%;
border-spacing: 1px;
margin-bottom:10px
}
.border400{
max-width: 400px
}
.border td{
padding: 6px 3px 6px 3px
}
.ilch_kalender td{
padding: 2px
}
.ilch_kalender_box td{
padding: 1px
}
.border th{
padding: 10px 5px 10px 5px
}
.tdweight05 {
width: 0.5%
}
.tdweight5 {
width: 5%
}
.tdweight10 {
width: 10%
}
.tdweight15 {
width: 15%
}
.tdweight20 {
width: 20%
}
.tdweight25 {
width: 25%
}
.tdweight30 {
width: 30%
}
.tdweight50 {
width: 50%
}
.tdweight80 {
width: 80%
}
.tdweight90 {
width: 90%
}
.tdweight95 {
width: 95%
}
.tdweight98 {
width: 98%
}
.tdweight100 {
width: 100%
}
.tdweight10px {
width: 10px
}
.tdweight20px {
width: 20px
}
.tdweight10px {
width: 10px
}
.tdweight100px {
width: 100px
}
.ilchpadding5 {
padding:5px;
}
.ilchmargin2 {
margin:2px;
}
.ilchfontsize2em {
font-size: 2em;
}
.ilchoverauto {
overflow:auto;
}
.forumord img{
height:15px;
border:none
}
.forum_cdark{
height:10px
}
strong{
font-weight: bold
}
input,
button,
textarea,
select{
margin-top:3px;
padding:3px
}
textarea.c4 {
width: 80%;
} 
.ilchzitateplacet {
border:1px solid #888782;
margin:0px;
padding:2px;
width:95%;
background-color:#CCCCCC;
}
.ilchcursorpoint {
cursor:pointer;
}
.both {
clear:both
}
.text-left{
text-align:left
}
.text-center{
text-align:center
}
.text-right{
text-align:right
}
.ilch_float_l{
float:left
}
.ilch_float_r{
float:right
}
.ilch_small_font{
font-size:10px
}
.tablebordertop{
margin-top:10px
}
.ilch_vertikal_top{
vertical-align:top
}
.ilch_vertikal_middle{
vertical-align:middle
}
.ilch_vertikal_bottom{
vertical-align:bottom
}
.ilch_box_in{
margin:10px
}
.label_40{
width:40px;
margin: 5px 5px 0px 0px 
}
.label_60{
width:60px;
margin: 5px 5px 0px 0px 
}
.label_80{
width:80px;
margin: 5px 5px 0px 0px 
}
.label_100{
width:100px;
margin: 5px 5px 0px 0px 
}
.label_120{
width:120px;
margin: 5px 5px 0px 0px 
}
.label_140{
width:140px;
margin: 5px 5px 0px 0px 
}
.ilch_input_info_80{
display:block;
margin: 4px 4px 4px 85px
}
.ilch_case{
border:1px solid transparent
}
.ilch_case_in{
padding: 10px 10px 20px 10px
}
.ilch_casesmall_in{
padding:5px
}
.Chead{
padding: 10px 5px 10px 5px
}
.Cdark{
padding: 7px 5px 7px 5px
}
.ilch_hinweis_rot{
display:block;
color: #b94a48;
background-color: #f2dede;
border:1px solid #eed3d7;
padding: 7px 14px 7px 14px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
margin: 5px 0px;
}
.ilch_hinweis_gruen{
display:block;
color: #468847;
background-color: #dff0d8;
border:1px solid #d6e9c6;
padding: 7px 14px 7px 14px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
margin: 5px 0px;
}
.ilch_hinweis_gelb{
display:block;
color: #8a6d3b;
background-color: #fcf8e3;
border:1px solid #FFEED3;
padding: 7px 14px 7px 14px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
margin: 5px 0px;
}
.small_index_ilch{
width: 400px;
margin:0 auto
}
#newPMdivID {
position:absolute;
top:80px;
left:50%;
margin-left:-200px;
display:inline;
position:fixed;
}
.ilchstatistikheight {
height:2px;
}
.ilchbordernone {
border:none;
}
.ilchcolorred {
color:#FF0000;
}
.ilchcolorsuchwoerter {
background-color:#EBF09B;
}
/* Ilch Award */

.ilch_award_in{
padding: 10px 10px 20px 10px;
min-height:120px 
}
.ilch_award_in img{
max-height:100px;
float:left;
margin: 5px 10px 5px 0px 
}

/* Ilch Download */

.ilch_download_in{
padding: 5px 5px 10px 5px;
min-height:150px 
}
.ilch_download_in img{
max-height:150px;
float:left;
margin: 3px 3px 3px 0px 
}

/* Ilch Gallery - Forum */

.layer{
position:absolute;
top:50px;
left:50px;
display:none;
width:200px;
min-height:200px
}
.ilch_gallery_in,
.ilch_forum_in,
.ilch_news_in,
.ilch_shoutbox_in{
padding: 3px 3px 3px 3px
}
.colorbilderabfrageloeschen {
color:#ff0000;
font-size:14px;
}
.ilchusergalleryupload img {
max-height:150px;
}

/* Ilch Gbook */

.gbook_image img,
.pm_ilch_img img{
max-width:100%;
height: auto;
border:none
}
.ilch_gbook_in{
padding: 5px 5px 25px 5px
}

/* Ilch Links - Teams */

.ilch_links_img img,
.ilch_teams_img img{
max-width:100%;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
border:none
}

/* Ilch Teams */

.ilch_teams_avatar img{
max-height:30px;
}

/* Ilch Trains */

.ilch_trains > .Cmite,
.ilch_trains > .Cnorm{
padding:5px;
}

/* Ilch Wars */

.ilch_wars_win{
background:#C8E1B8;
color:#000
}
.ilch_wars_los{
background:#D8B9B9;
color:#000
}
.ilch_wars_pat{
background:#FDFBB7;
color:#000
}
.ilch_wars_font{
color:#000
}
.ilch_wars_in{
line-height:20px
}
.ilchwarsabsage {
color:#FFF;
background:#FF0000;
font-weight:bold;
padding:2px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.ilchwarszusage {
font-weight:bold;
color:#000;
background:#00FF00;
padding:2px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

/* Ilch News */

.ilch_news_kategorie img{
max-width:100%;
height: auto;
border:none;
float:left;
margin: 5px 5px 5px 0px; 
}
.ilch_news_img img{
max-width:100%;
height: auto;
border:none;
margin: 6px 0px 3px 0px
}
.ilch_news_margin{
margin: 15px 0px 50px 0px
}
.ilch_topnews{
border:2px dashed #FF0000;
margin:2px;
padding: 5px;
padding-bottom:30px;
margin-bottom: 20px
}
.ilch_topnews h3{
text-align:center;
margin-bottom:10px;
color:#FF0000
}
.ilch_add_news{
display:none
}

/* Ilch Font icons */


.ilch_cms_news_icons{
display:inline-block;
font-size:1.5em;
padding: 0px 4px 1px 4px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border:1px solid #8E8E8E
}
.ilch_gbook_icons{
font-size:1.5em;
padding: 0px 4px 1px 4px
}
.ilch_closed_icon,
.ilch_closed_icon:hover{
font-size:1.5em;
margin: 0px 3px 2px 3px;
color:#C40000
}
.ilch_edit_icon,
.ilch_edit_icon:hover{
font-size:1.5em;
margin: 0px 3px 2px 3px;
color:#007F0C
}
.ilch_yep_icon ,
.ilch_yep_icon:hover,
.ilch_nob_icon ,
.ilch_nob_icon:hover{
font-size:1.5em;
margin: 0px 3px 2px 3px;
color:#008BEF
}

/* Ilch Geburtstags Box */

.ilch_geb_avatar{
max-width: 100px;
height: auto;
border:none;
margin: 4px 0px 4px 0px
}

/* Allianz Box Banner */

.allianzilchbanner img{
max-width: 100px;
height: auto;
border:none;
margin:2px;
}

/* Online Box */

.onlineboxgeaste{
color:#003366;
}
.onlineboxhr{
height: 0px;
border: dashed #9AB1C8 0px;
border-top-width: 1px;
}

/* vorgesetzte Klassen fuer Designer */

.ilch_back_button{
}
.ilch_a_link_s{
}
.bg_color_bbcode{
}