<legend><h2>Partner <small>Partner Banner eintragen/&auml;ndern</small></h2></legend>
<script language="JavaScript" type="text/javascript">
<!--
    function del(id1) {

        var x = confirm("Willst du den Eintrag wirklich loeschen?");
        if (x) {
            document.location.href = "?archiv-partners-d" + id1;
        }
    }
//-->
</script>		
<form action="admin.php?archiv-partners" method="POST" class="form-horizontal" role="form">
    <input type="hidden" name="pkey" value="{pkey}">	
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="name" value="{name}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Banner</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="banner" value="{banner}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Link</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="link" value="{link}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input class="btn btn-primary" type="submit" value="Absenden" name="sub" >
        </div>
    </div>
</form>
<div class="panel panel-default">
    <div class="panel-heading">eingetragene Partner</div>
    <div class="panel-body">
        <div class="row">
            {EXPLODE}
            <div class="col-sm-6 col-md-4"> 
                <div class="thumbnail text-center">
                    <img src="{banner}" alt="Bild nicht gefunden">
                    <div class="caption">
                        <h4 class="text-center">{name}</h4>
                        <p class="text-center"><a style="margin-right:15px;" href="{link}" rel="tooltip" title="{link}" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a><a style="margin-right:4px;" href="?archiv-partners-e{id}" rel="tooltip" title="Eintrag &auml;ndern"><span style="color:#2D9600;" class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            <a style="margin-right:4px;" href="javascript:del('{id}')" rel="tooltip" title="Eintrag l&ouml;schen"><span style="color:#AD0000;" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            <a style="margin-right:4px;" href="?archiv-partners-o{id}-{pos}" rel="tooltip" title="nach oben verschieben"><span style="color:#A54200;" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
                            <a style="margin-right:4px;" href="?archiv-partners-u{id}-{pos}" rel="tooltip" title="nach unten verschieben"><span style="color:#A54200;" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a><span class="badge" rel="tooltip" title="Position">{pos}</span></p>
                    </div>
                </div>
            </div>  
            {EXPLODE}

        </div>
        {MPL}
    </div>
</div>