<html>
    <head>
        <link href="include/admin/templates/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="include/admin/templates/bootstrap/css/style.css" rel="stylesheet">
        <script language="JavaScript" type="text/javascript">
        <!--
            function moveFile(f, v) {
                var Fenster = window.open('admin.php?archiv-downloads-uploadMoveFile=0&f=' + f + "&v=" + v, 'movefile', 'scrollbars=yes,height=200,width=400,left=500,top=100');
                Fenster.focus();
            }
            function renFile(f, v) {
                var x = prompt("Wie soll die neue Datei heissen?.", v);
                if (x) {
                    document.location.href = "admin.php?archiv-downloads-upload=0&f=" + f + "&v=" + v + "&r=" + x;
                }
            }

            function closeThisWindow() {
                opener.focus();
                window.close();
            }

            function waehleThisFile(fname) {
                opener.document.form.newurl.value = fname;
                closeThisWindow();
            }
            function showDDetails(eid) {
                opener.document.location.href = 'admin.php?archiv-downloads-e' + eid;
                closeThisWindow();
            }
            function deleteFile(f, v) {
                var x = confirm("Datei  \"" + v + "\"  wirklich loeschen?");
                if (x) {
                    document.location.href = "admin.php?archiv-downloads-upload=0&f=" + f + "&d=" + v;
                }
            }

        //-->
        </script>
        <script>
            $('input[type=file]').bootstrapFileInput();
            $('.file-inputs').bootstrapFileInput();
        </script>
    </head>
    <body>
        {msg}
    <legend>File Manager</legend>
    <strong> &raquo; </strong><a href="admin.php?archiv-downloads-upload">/</a>{posi}
    <table class="table table-bordered">
        <tr class="active">
            <td>Dateiname</td>
            <td colspan="4"></td>
        </tr>
        {EXPLODE}
    </table>
    <table class="table table-bordered" >
        <tr class="active">
            <td>Ordner</td>
        </tr><tr>
            <td><a href="admin.php?archiv-downloads-upload"> / </a></td>
        </tr>
        {EXPLODE}
    </table>

    <legend>Datei hochladen</legend>

    <form action="admin.php?archiv-downloads-upload" method="POST" enctype="multipart/form-data" role="form">
        <input type="hidden" name="f" value="{f}" />
        <div class="form-group">
            <label></label>
            <input type="file" name="file" class="btn btn-primary"  title="Datei suchen">
        </div>
        <div class="form-group">
            <label></label>
            <input class="btn btn-primary" type="submit" name="sub" value="Hochladen">
        </div>
    </form>

    <div class="alert alert-info" role="alert">
        <p>Eine Datei wird immer in das aktuelle Verzeichnis geladen, befinden Sie sich z.B. gerade in einem Ordner 'Movies/Fun' wird die Datei dort rein geladen.</p>
        <p>Neue Ordner anlegen k&ouml;nnen Sie nur indem Sie im Ordner include/downs/downloads eine neue Ordner Struktur erstellen und jedem Ordner CHMOD Recht 777 geben. Sie k&ouml;nnen dort z.B. den Ordner Movies anlegen m&uuml;ssen diesem aber die n&ouml;tigen Rechte geben.</p><p>Sie m&uuml;ssen diese Ordner z.B. per FTP-Programm direkt auf Ihrem Webspace erstellen.</p><p>
            Die Spalte 'linked': Sie k&ouml;nnen der eben hochgeladenen Datei einen Download erstellen indem Sie auf 'neu' klicken. Die Zahlen in diesem Feld stellen bereits bestehende Downloads f&uuml;r diese Datei dar, Sie k&ouml;nnen diese Downloads &auml;ndern indem Sie auf die Zahl klicken.</p>
    </div>
    <a class="btn btn-default" href="javascript:closeThisWindow()">Fenster schliessen</a>
</body>
</html>