  <a class="btn btn-primary btn-sm" href="javascript:history.back()">{_lang_back}</a><br><br>
  <table class="table table-bordered">
		<tr class="warning">
			<td colspan="2"><b>War Informationen</b></td>
		</tr><tr>
			<td colspan="2"><b>Basis Informationen</b></td>
		</tr><tr>
			<td class="active">Gegner Nation</td>
			<td ><img src="include/images/flags/{land}" alt=""></td>
		</tr><tr>
			<td class="active">Gegner Name</td>
			<td>{gegner}</td>
		</tr><tr>
			<td class="active">Gegner Tag</td>
			<td>{tag}</td>
		</tr><tr>
			<td class="active">Gegner Page</td>
			<td><a href="{page}" target="_blank">{page}</a></td>
		</tr><tr class="warning">
			<td colspan="2"><b>Ansprechpartner</b></td>
		</tr><tr>
			<td class="active">Gegner Email</td>
			<td ><a href="mailto:{mail}">{mail}</a></td>
		</tr><tr>
			<td class="active">Gegner Skype</td>
			<td>{skype}</td>
		</tr><tr class="warning">
			<td colspan="2"><b>Matchinfo</b></td>
		</tr><tr>
			<td class="active">Datum | Zeit</td>
			<td>{day}.{mon}.{jahr} - {stu}:{min}:{sek}</td>
		</tr><tr>
			<td class="active">Treffpunkt</td>
			<td>{wo}</td>
		</tr><tr>
			<td class="active">Team</td>
			<td>{tid}</td>
		</tr><tr>
			<td class="active">XonX</td>
			<td>{mod}</td>
		</tr><tr>
			<td class="active">Game</td>
			<td>{game}</td>
		</tr><tr>
			<td class="active">Matchtyp</td>
			<td>{mtyp}</td>
		</tr><tr>
			<td class="active">Nachricht</td>
			<td>{txt}</td>
		</tr>
  </table><br>
  <a class="btn btn-primary btn-sm" href="javascript:history.back()">{_lang_back}</a>