<a class="btn btn-primary btn-sm" href="admin.php?wars-next">Nextwars &ouml;ffnen</a><br>
<legend><h2>Lastwars</h2></legend>
{msg}
<div class="row">
    <div class="col-md-6">
        <form action="admin.php?wars-last" method="POST" name="form" class="form-horizontal" role="form">
            <input type="hidden" name="pkey" value="{pkey}" />
            <input type="hidden" name="status" value="3" />
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Basis Informationen</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gegner Nation</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="land">{land}</select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gegner Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="gegner" value="{gegner}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gegner Tag</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="tag" value="{tag}">
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="col-sm-2 control-label">Gegner Page</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="page" value="{page}"> <a rel="tooltip" title="Seite besuchen" href="{page}" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Ansprechpartner</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gegner Email</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="email" value="{mail}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gegner ICQ</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="icq" value="{icq}">
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-warning" style="overflow-x:auto;overflow-y:hidden;">
                <div class="panel-heading">
                    <h3 class="panel-title">Matchinfo</h3>
                </div>
                <div class="panel-body">

                    <div class="form-group form-inline">
                        <label class="col-sm-2 control-label">Datum<br><br>Zeit</label>
                        <div class="col-sm-10" style="white-space: nowrap;">
                            <input class="form-control" type="text" name="day" value="{day}" size="2"><b>.</b><input class="form-control" type="text" name="mon" value="{mon}" size="2"><b>.</b><input class="form-control" type="text" name="jahr" value="{jahr}" size="4"><br><input class="form-control" type="text" name="stu" value="{stu}" size="2"><b>:</b><input class="form-control" type="text" name="min" value="{min}" size="2"><b>:</b><input class="form-control" type="text" name="sek" value="{sek}" size="2"> Uhr
                            <br>
                            <div class="checkbox">
                                <label for="kalender" style="cursor: pointer">
                                    <input type="checkbox" id="kalender"{kalck} value="yes" name="kalender">
                                    Kalender eintragen / &auml;ndern.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Treffpunkt</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="wo" value="{wo}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Team</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="tid">{tid}</select>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="col-sm-2 control-label">XonX</label>
                        <div class="col-sm-10">
                            <select class="form-control" onchange="sichtbarA()" name="mod">{mod}<option value="neu">Neu:</option></select>&nbsp;<input class="form-control" type="text" name="newmod" >
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="col-sm-2 control-label">Game</label>
                        <div class="col-sm-10">
                            <select class="form-control" onchange="sichtbarB()" name="game">{game}<option value="neu">Neu:</option></select>&nbsp;<input class="form-control" type="text" name="newgame" >
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="col-sm-2 control-label">Matchtyp</label>
                        <div class="col-sm-10">
                            <select class="form-control" onchange="sichtbarC()" name="mtyp">{mtyp}<option value="neu">Neu:</option></select>&nbsp;<input class="form-control" type="text" name="newmtyp" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Member</label>
                        <div class="col-sm-10">
                            <a href="javascript:manageMember()">Member die gespielt haben verwalten.</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ergebnis</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="wlp">{wlp}</select>
                        </div>
                    </div>
                    <div class="well well-sm">
                        <table class="table">
                            <tr>
                                <td class="text-center">Map/Runde</td>
                                <td class="text-center">Gegner</td>
                                <td class="text-center">Eigene</td>
                            </tr><tr>
                                <td><input class="form-control" type="text" name="map[1]" value="{map1}" />&nbsp;&nbsp;</td>
                                <td><input class="form-control" type="text" size="3" onKeyUp="setOPPsum()" name="opp[1]" value="{opp1}" /></td>
                                <td><input class="form-control" type="text" size="3" onKeyUp="setOWPsum()" name="owp[1]" value="{owp1}" /></td>
                                <td><a href="javascript:manageMap({pkey},1)">Bild</a></td>
                            </tr><tr>
                                <td><input class="form-control" type="text" name="map[2]" value="{map2}" /></td>
                                <td><input class="form-control" type="text" size="3" onKeyUp="setOPPsum()" name="opp[2]" value="{opp2}" /></td>
                                <td><input class="form-control" type="text" size="3" onKeyUp="setOWPsum()" name="owp[2]" value="{owp2}" /></td>
                                <td><a href="javascript:manageMap({pkey},2)">Bild</a></td>
                            </tr><tr>
                                <td><input class="form-control" type="text" name="map[3]" value="{map3}" /></td>
                                <td><input class="form-control" type="text" size="3" onKeyUp="setOPPsum()" name="opp[3]" value="{opp3}" /></td>
                                <td><input class="form-control" type="text" size="3" onKeyUp="setOWPsum()" name="owp[3]" value="{owp3}" /></td>
                                <td><a href="javascript:manageMap({pkey},3)">Bild</a></td>
                            </tr><tr>
                                <td><input class="form-control" type="text" name="map[4]" value="{map4}" /></td>
                                <td><input class="form-control" type="text" size="3" onKeyUp="setOPPsum()" name="opp[4]" value="{opp4}" /></td>
                                <td><input class="form-control" type="text" size="3" onKeyUp="setOWPsum()" name="owp[4]" value="{owp4}" /></td>
                                <td><a href="javascript:manageMap({pkey},4)">Bild</a></td>
                            </tr><tr>
                                <td><input class="form-control" type="text" name="map[5]" value="{map5}" /></td>
                                <td><input class="form-control" type="text" size="3" onKeyUp="setOPPsum()" name="opp[5]" value="{opp5}" /></td>
                                <td><input class="form-control" type="text" size="3" onKeyUp="setOWPsum()" name="owp[5]" value="{owp5}" /></td>
                                <td><a href="javascript:manageMap({pkey},5)">Bild</a></td>
                            </tr><tr>
                                <td align="right">Summe:&nbsp;&nbsp;</td>
                                <td><input class="form-control" type="text" size="3" name="sumopp" value="{opp}" /></td>
                                <td><input class="form-control" type="text" size="3" name="sumowp" value="{owp}" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nachricht</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="txt">{txt}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float:right;">
                <input  class="btn btn-primary" type="submit" value="Absenden" name="sub">
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <legend>&Uuml;bersicht</legend>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped">
                    {EXPLODE}
                    <tr>
                        <td>{game} {gegner}</td>
                        <td class="text-right"><a style="margin-right:5px;" href="javascript:del('{id}')" rel="tooltip" title="l&ouml;schen"><span style="color:#AD0000;" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            <a href="admin.php?wars-last&amp;pkey={id}" rel="tooltip" title="&auml;ndern"><span style="color:#2D9600;" class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                    </tr>
                    {EXPLODE}
                </table>
            </div>
        </div>
        {MPL}

    </div>
</div>
<br><br>
<script language="JavaScript" type="text/javascript">
<!--
    function del(id1) {
        var x = confirm("do you really want to delete?");
        if (x) {
            document.location.href = "admin.php?wars-last&delete=" + id1;
        }
    }
    function manageMap(wid, mid) {
        if (wid == 0) {
            alert('Bitte den Lastwar erst speichern und dann hier das Bild einfuegen!...');
        } else if (document.getElementsByName('opp[' + mid + ']')[0].value == '' || document.getElementsByName('owp[' + mid + ']')[0].value == '' || document.getElementsByName('map[' + mid + ']')[0].value == '') {
            alert('Bitte erstmal den Namen und die Ergebnisse dieser Runde/Map eintragen!..');
        } else {
            var Fenster = window.open('admin.php?wars-last-upload=0&wid=' + wid + '&mid=' + mid, 'managemap', 'scrollbars=yes,height=250,width=400,left=0,top=50');
            Fenster.focus();
        }
    }
    function manageMember() {
        if (document.form.pkey.value == 0) {
            alert('Bitte den Lastwar erst speichern und dann hier die Member bearbeiten!...');
        } else {
            var Fenster = window.open('admin.php?wars-last-members&wid={pkey}', 'manageMember', 'scrollbars=yes,height=500,width=400,left=0,top=50');
            Fenster.focus();
        }
    }
    function setOPPsum() {
        var summe = 0;
        summe = summe + (document.getElementsByName('opp[1]')[0].value * 1);
        summe = summe + (document.getElementsByName('opp[2]')[0].value * 1);
        summe = summe + (document.getElementsByName('opp[3]')[0].value * 1);
        summe = summe + (document.getElementsByName('opp[4]')[0].value * 1);
        summe = summe + (document.getElementsByName('opp[5]')[0].value * 1);
        document.form.sumopp.value = summe;
    }
    function setOWPsum() {
        var summe = 0;
        summe = summe + (document.getElementsByName('owp[1]')[0].value * 1);
        summe = summe + (document.getElementsByName('owp[2]')[0].value * 1);
        summe = summe + (document.getElementsByName('owp[3]')[0].value * 1);
        summe = summe + (document.getElementsByName('owp[4]')[0].value * 1);
        summe = summe + (document.getElementsByName('owp[5]')[0].value * 1);
        document.form.sumowp.value = summe;
    }
    function sichtbarA() {
        if (document.form.mod.value == "neu") {
            document.form.newmod.style.visibility = "visible";
        } else {
            document.form.newmod.style.visibility = "hidden";
        }
    }
    function sichtbarB() {
        if (document.form.game.value == "neu") {
            document.form.newgame.style.visibility = "visible";
        } else {
            document.form.newgame.style.visibility = "hidden";
        }
    }
    function sichtbarC() {
        if (document.form.mtyp.value == "neu") {
            document.form.newmtyp.style.visibility = "visible";
        } else {
            document.form.newmtyp.style.visibility = "hidden";
        }
    }
    function visitpage() {
        var page = document.form.page.value;
        var n = 'page';
        var o = '';
        var f = window.open(page, n, o);
        f.focus();
    }
    sichtbarB();
    sichtbarC();
    sichtbarA();
//-->
</script>