<a class="btn btn-primary btn-sm" href="admin.php?wars-last">Lastwars &ouml;ffnen</a><br>
<legend><h2>Nextwars</h2></legend>
<div class="row">
    <div class="col-md-6">
        <form action="admin.php?wars-next" method="POST" name="form" class="form-horizontal" role="form">
            <input type="hidden" name="pkey" value="{pkey}" />
            <input type="hidden" name="status" value="2" />

            {msg}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Basis Informationen</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gegner Nation</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="land">{land}</select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gegner Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="gegner" value="{gegner}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gegner Tag</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="tag" value="{tag}">
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="col-sm-2 control-label">Gegner Page</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="page" value="{page}"> <a rel="tooltip" title="Seite besuchen" href="{page}" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ansprechpartner</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Gegner Email</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="email" value="{mail}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Gegner Skype</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="skype" value="{skype}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-warning" style="overflow-x:auto;overflow-y:hidden;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Matchinfo</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group form-inline">
                                <label class="col-sm-2 control-label">Datum<br><br>Zeit</label>
                                <div class="col-sm-10" style="white-space: nowrap;">
                                    <input class="form-control" type="text" name="day" value="{day}" size="2"><b>.</b><input class="form-control" type="text" name="mon" value="{mon}" size="2"><b>.</b><input class="form-control" type="text" name="jahr" value="{jahr}" size="4"><br><input class="form-control" type="text" name="stu" value="{stu}" size="2"><b>:</b><input class="form-control" type="text" name="min" value="{min}" size="2"><b>:</b><input class="form-control" type="text" name="sek" value="{sek}" size="2"> Uhr
                                    <br>
                                    <div class="checkbox">
                                        <label for="kalender" style="cursor: pointer">
                                            <input type="checkbox" id="kalender"{kalck} value="yes" name="kalender">
                                            Kalender eintragen / &auml;ndern.
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Treffpunkt</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="wo" value="{wo}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Team</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="tid">{tid}</select>
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <label class="col-sm-2 control-label">XonX</label>
                                <div class="col-sm-10">
                                    <select class="form-control" onchange="sichtbarA()" name="mod">{mod}<option value="neu">Neu:</option></select>&nbsp;<input class="form-control" type="text" name="newmod" >
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <label class="col-sm-2 control-label">Game</label>
                                <div class="col-sm-10">
                                    <select class="form-control" onchange="sichtbarB()" name="game">{game}<option value="neu">Neu:</option></select>&nbsp;<input class="form-control" type="text" name="newgame" >
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <label class="col-sm-2 control-label">Matchtyp</label>
                                <div class="col-sm-10">
                                    <select class="form-control" onchange="sichtbarC()" name="mtyp">{mtyp}<option value="neu">Neu:</option></select>&nbsp;<input class="form-control" type="text" name="newmtyp" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nachricht</label>
                                <div class="col-sm-10">
                                    <textarea  class="form-control" rows="3" name="txt">{txt}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input class="btn btn-primary"  type="submit" value="Absenden" name="sub" >
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    </td>
                </div>
            </div>
    </div>
    <div class="col-md-6">
        <legend>&Uuml;bersicht</legend>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped">
                    {EXPLODE}
                    <tr class="success">
                        <td class="text-left"><span style="color:#ff0000;" rel="tooltip" title="Anfrage noch offen" class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span {game} {gegner}</td>
                        <td class="text-center"><a href="admin.php?wars-info-{id}" rel="tooltip" title="Informationen &uuml;ber die Anfrage"><span style="color:#2D9600;" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></td>		
                        <td class="text-center"><a href="javascript:del('{id}')" rel="tooltip" title="l&ouml;schen"><span style="color:#AD0000;" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                        <td class="text-right"><a class="btn btn-success btn-xs" href="admin.php?wars-next&amp;pkey={id}">Fightus Anfrage &uuml;bernehmen</a></td>
                    </tr>
                    {EXPLODE}
                    <tr>
                        <td>{game} {gegner}</td>
                        <td class="text-center"><a href="javascript:del('{id}')" rel="tooltip" title="l&ouml;schen"><span style="color:#AD0000;" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                        <td class="text-center"><a href="admin.php?wars-next&amp;pkey={id}" rel="tooltip" title="&auml;ndern"><span style="color:#2D9600;" class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                        <td class="text-right"><a class="btn btn-warning btn-xs" href="admin.php?wars-last&amp;pkey={id}">als Lastwar &uuml;bernehmen</a></td>
                    </tr>
                    {EXPLODE}
                </table>
            </div>
        </div>
        {MPL}
    </div>
</div>
<script language="JavaScript" type="text/javascript">
<!--
    function del(id1) {
        var x = confirm("{_lang_realydelete}");
        if (x) {
            document.location.href = "admin.php?wars-next&delete=" + id1;
        }
    }

    function sichtbarA() {
        if (document.form.mod.value == "neu") {
            document.form.newmod.style.visibility = "visible";
        } else {
            document.form.newmod.style.visibility = "hidden";
        }
    }
    function sichtbarB() {
        if (document.form.game.value == "neu") {
            document.form.newgame.style.visibility = "visible";
        } else {
            document.form.newgame.style.visibility = "hidden";
        }
    }
    function sichtbarC() {
        if (document.form.mtyp.value == "neu") {
            document.form.newmtyp.style.visibility = "visible";
        } else {
            document.form.newmtyp.style.visibility = "hidden";
        }
    }
    function visitpage() {
        var page = document.form.page.value;
        var n = 'page';
        var o = '';
        var f = window.open(page, n, o);
        f.focus();
    }
    sichtbarB();
    sichtbarC();
    sichtbarA();
//-->
</script>