<html>
    <head>
        <link href="include/admin/templates/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="include/admin/templates/bootstrap/css/style.css" rel="stylesheet">
        <script src="include/admin/templates/bootstrap/js/bootstrap.file-input.js"></script>
        <script language="JavaScript" type="text/javascript">
            <!--
        function closeThisWindow() {
                opener.focus();
                window.close();
            }
            function openImgWindow(v, hoehe, breite) {
                var fenster = window.open('include/images/wars/{wid}_{mid}.' + v, 'bild', 'height=' + hoehe + ',width=' + breite);
                fenster.focus();
            }
            function deleteMap(v) {
                var x = confirm("Bild wirklich loeschen?");
                if (x) {
                    document.location.href = "admin.php?wars-last-upload=0&d={wid}_{mid}." + v + "&wid={wid}&mid={mid}";
                }
            }
            //-->
        </script>
        <script>
            $('input[type=file]').bootstrapFileInput();
            $('.file-inputs').bootstrapFileInput();
        </script>
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-body">
                {msg}
                <form action="admin.php?wars-last-upload" method="POST" enctype="multipart/form-data" role="form">
                    <input type="hidden" name="wid" value="{wid}" >
                    <input type="hidden" name="mid" value="{mid}" >
                    <table>
                        <tr>
                            <td>{file}</td>
                        </tr>
                        <tr>
                            <td"><input class="btn btn-primary" type="file" name="f" title="Datei suchen"><br></td>
                        </tr>
                        <tr>
                            <td>
                                <br>
                                <input class="btn btn-primary" type="submit" value="Absenden" >&nbsp;
                                <input class="btn btn-default" type="button" value="Schliessen" onClick="closeThisWindow()" />
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
    </body>
</html>
