<form action="?forum-{ak}Categorie" method="POST" name="form">
					
		<input type="hidden" name="cid" value="{cid}">
		
	  <table width="400" border="0" cellspacing="1" cellpadding="2" class="border">
		  <tr class="Chead">
<td colspan="2"><b>Neue Kategorie erstellen</b></td>
</tr><tr>
			  <td width="120" class="Cmite">Name</td>
			  <td width="250" class="Cnorm"><input type="text" name="name" value="{name}"></td>
			</tr><tr>
			  <td class="Cdark"></td>
				<td class="Cdark"><input type="submit" value="{sub}" name="sub"></td>
			</tr>
		</table>
 
</form>
